{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Documents - view page{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId})}}">{{ case.getSafeId() }}</a></li>
  <li class="active">Создание документа</li>
</ol>


<div class="page-header">
  <h1>Создание документа <small>Кейс {{ case.getSafeId() }}</small></h1>
</div>


<div class="row" id="documentUploadWrapper">
  <div class="col-sm-6">
      {% if showFormErrors %}
        <div class="alert alert-danger" role="alert">
          <strong>Warning!</strong>
          {{ form_errors(form.attachment) }}
        </div>
      {% endif %}

    {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.documentTypes) }}
            {{ form_widget(form.documentTypes, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

    {{ form_end(form) }}
  </div>
</div>


{% endblock %}
