{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Documents - view page{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
    <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId})}}">{{ case.getSafeId() }}</a></li>
  <li class="active">{{ document.getSafeId() }}</li>
</ol>


<div class="page-header">
  <h1>Документ <small>{{ document.getSafeId() }}</small></h1>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th  width="20%">SafeId:</th>
            <td>{{ document.getSafeId() }}</td>
        </tr>
        <tr>
            <th>Название:</th>
            <td>{{ document.getTitle() }}</td>
        </tr>
        <tr>
            <th>Тип:</th>
            <td>{{ document.getDocumentTypesStr() }}</td>
        </tr>
        <tr>
            <th>Утверждён:</th>
            <td>
                {% if not document.getIsApproved() %}
                    &mdash;&nbsp;
                    <a href="{{  url('assistant_documents_set_approved', { caseId: case.getSafeId(), documentId: document.getSafeId(), status: 'yes' }) }}" data-method="post">утвердить</a>
                {% else %}
                    &radic;&nbsp;
                    <a href="{{  url('assistant_documents_set_approved', { caseId: case.getSafeId(), documentId: document.getSafeId(), status: 'no' }) }}" data-method="post">отменить</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<h2>Файлы</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Загружен</th>
                <th>Кем</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in document.getUploads() %}
                <tr>
                    <td>{{ item.filename }}</td>
                    <td>{{ item.uploaded }}</td>
                    <td>{% if item.uploadedByUser %}клиентом{% else %}асcистентом{% endif %}</td>
                    <td>
                        <a href="{{ url('assistant_documents_raw', {caseId: case.getSafeId(), documentId: document.getSafeId(), index: loop.index0}) }}" target="_blank" class="btn btn-success btn-sm">Скачать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Пока нет загруженых файлов</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3>Быстрая загрузка</h3>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.attachment) }}
        {{ form_widget(form.attachment, {'attr': {'class': ''}}) }}
    </div>
{{ form_end(form) }}

{% endblock %}
