.qui-base-view  .panel-body {
    padding-top: 20px;
    padding-bottom: 40px;
}

.qui-base-view  .panel-body fieldset {
    margin-bottom: 40px;
}

.qui-base-view fieldset {
    border: 1px solid #CACCCA;
    padding: 1.25rem;
    margin: 1.125rem 0;
}

.qui-base-view fieldset legend {
    background: #fefefe;
    padding: 0 0.1875rem;
    margin: 0;
    margin-left: -0.1875rem;
    border: none;
    display: inline-block;
    width: auto;
    color: #555;
}

.qui-base-view fieldset fieldset {
    border: 1px solid #DDD;
}

.qui-base-view fieldset fieldset legend {
    font-size: 95%;
}