<h1>Добро пожаловать в СтопДолг!</h1>

<p>
    ...
</p>

<p>
    Вы были приглашены нашим ассистентом.
</p>

<p>
    Для входа используйте email <b>{{ user.getEmail() }}</b>.
    Ваш временный пароль: <b>{{ password }}</b> (не забудте поменять его).
</p>

<p>
    Войти в систему <b>прямо сейчас</b> вы можете <a href="{{ loginLink }}">по этой ссылке</a> (ссылка работает в течении текущих суток).
</p>