<h1>Счёт по услуге {{ service.getSafeId() }}</h1>


<p>
    Заплатить за кейс <b>прямо сейчас</b> вы можете <a href="{{ payUrl }}">по этой ссылке</a> (ссылка работает в течении текущих суток).
</p>

<p>
    Вы также  можете заплатить из вашего личного кабинета в разделе "Платежи".
</p>
