{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Strategy - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()})}}">{{ case.getSafeId() }}</a></li>
  <li><a href="{{ url('assistant_strategy_view', {'caseId': case.getSafeId()})}}">Стратегия</a></li>
  <li class="active">{{ item.getTitle() }}</li>
</ol>

<div class="page-header">
  <h1>Редактирование стратегии <small>{{ item.getTitle() }}</small></h1>
</div>



<div class="row">
    <div class="col-md-6">

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, {'attr': {'class':'form-control'}}) }}
        </div>
        {{ form_end(form) }}

    </div>
</div>




{% endblock %}
