{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Strategy - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()})}}">{{ case.getSafeId() }}</a></li>
  <li class="active">Стратегия</li>
</ol>

<div class="page-header">
  <h1>Стратегия кейса <small>{{ case.getSafeId() }}</small></h1>
</div>

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.custom_strategy) }}
                    {{ form_widget(form.custom_strategy, {'attr': {'class': 'form-control', 'rows': 10, 'placeholder': 'Дополнительная (custom) стратегия для кейса'}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}

{# <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="15%">Номер</th>
                <th width="40%">Название</th>
                <th width="25%">Статус</th>
                <th width="20%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for strategyItem in case.getStrategyItems() %}
                <tr>
                    <td>{{ strategyItem.getOrderNumber() }}</td>
                    <td>{{ strategyItem.getTitle() }}</td>
                    <td>
                        {% if strategyItem.getStatus() == 0 %}
                            Активный
                        {% elseif strategyItem.getStatus() == 1 %}
                            Выполнен
                        {% endif %}
                    </td>
                    <td>
                        {% if loop.index0 %}
                            <a href="{{ url('assistant_strategy_reorder', {caseId: case.getSafeId(), strategyItemId: strategyItem.getId(), way: 'up' }) }}">вверх</a>
                        {% else %}
                            <span style="color: #ccc;">вверх</span>
                        {% endif %}
                        /
                        {% if loop.last %}
                            <span style="color: #ccc;">вниз</span>
                        {% else %}
                            <a href="{{ url('assistant_strategy_reorder', {caseId: case.getSafeId(), strategyItemId: strategyItem.getId(), way: 'down' }) }}">вниз</a>
                        {% endif %}
                        <br>
                        <a href="{{ url('assistant_strategy_edit', {caseId: case.getSafeId(), strategyItemId: strategyItem.getId() }) }}">редактировать</a>
                        /
                        <a href="{{ url('assistant_strategy_delete', {caseId: case.getSafeId(), strategyItemId: strategyItem.getId() }) }}">удалить</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Нет ни одного элемента</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{{ form_start(form) }}
<div class="well well-sm">
<p>
    Добавить запись:
</p>
<table class="strategy-push-table">
    <tbody>
    <tr>
        <td width="55%" style="vertical-align: top;">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td width="25%" style="vertical-align: top;">
            <div class="form-group">
                {{ form_label(form.status) }}
                {{ form_widget(form.status, {'attr': {'class':'form-control'}}) }}
            </div>
        </td>
        <td width="20%">
            {{ form_widget(form.add) }}
        </td>
    </tr>
    </tbody>
</table>
</div>
{{ form_end(form) }}
#}
{% endblock %}
