{% extends "UserBundle::layout.html.twig" %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block content %}
<div class="col-sm-6 col-md-8 col-md-offset-2">
    <h1 class="text-center login-title">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</h1>
    <div class="account-wall">

        <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST"
              class="fos_user_registration_register form-signup">

            {{ form_widget(form) }}

            <input type="submit" value="{{ 'registration.submit'|trans({}, 'FOSUserBundle') }}"  class="btn btn-primary"  />
        </form>
    </div>
</div>
{% endblock %}