{% extends "UserBundle::simple.layout.html.twig" %}

{% block title %}Оферта{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Оферта <small>Примите условия для продолжения</small></h1>
</div>


<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. An est aliquid per se ipsum flagitiosum, etiamsi nulla comitetur infamia? Ne amores quidem sanctos a sapiente alienos esse arbitrantur. </p>

<blockquote cite='http://loripsum.net'>
    Si ad prudentes, alterum fortasse dubitabunt, sitne tantum in virtute, ut ea praediti vel in Phalaridis tauro beati sint, alterum non dubitabunt, quin et Stoici conveniente sibi dicant et vos repugnantia.
</blockquote>


<p>Simus igitur contenti his. Cum audissem Antiochum, Brute, ut solebam, cum M. <b>Rationis enim perfectio est virtus;</b> Parvi enim primo ortu sic iacent, tamquam omnino sine animo sint. Indicant pueri, in quibus ut in speculis natura cernitur. Atque hoc loco similitudines eas, quibus illi uti solent, dissimillimas proferebas. At enim hic etiam dolore. Sed quid attinet de rebus tam apertis plura requirere? </p>

<p>Magna laus. <b>At hoc in eo M.</b> Quamvis enim depravatae non sint, pravae tamen esse possunt. Si longus, levis; </p>

<p>Non enim solum Torquatus dixit quid sentiret, sed etiam cur. Tum Piso: Quoniam igitur aliquid omnes, quid Lucius noster? <b>Sic consequentibus vestris sublatis prima tolluntur.</b> <mark>Duo Reges: constructio interrete.</mark> Quo studio Aristophanem putamus aetatem in litteris duxisse? Primum Theophrasti, Strato, physicum se voluit; Teneo, inquit, finem illi videri nihil dolere. <mark>Quid ait Aristoteles reliquique Platonis alumni?</mark> Ut proverbia non nulla veriora sint quam vestra dogmata. Quam si explicavisset, non tam haesitaret. </p>

<ol>
    <li>Quis animo aequo videt eum, quem inpure ac flagitiose putet vivere?</li>
    <li>Qua igitur re ab deo vincitur, si aeternitate non vincitur?</li>
    <li>Est enim effectrix multarum et magnarum voluptatum.</li>
    <li>Multoque hoc melius nos veriusque quam Stoici.</li>
</ol>


<dl>
    <dt><dfn>Itaque fecimus.</dfn></dt>
    <dd>Nos cum te, M.</dd>
    <dt><dfn>Cur iustitia laudatur?</dfn></dt>
    <dd>Quae sunt igitur communia vobis cum antiquis, iis sic utamur quasi concessis;</dd>
    <dt><dfn>Sullae consulatum?</dfn></dt>
    <dd>Si quae forte-possumus.</dd>
    <dt><dfn>Beatum, inquit.</dfn></dt>
    <dd>Huic ego, si negaret quicquam interesse ad beate vivendum quali uteretur victu, concederem, laudarem etiam;</dd>
</dl>


<ul>
    <li>At enim, qua in vita est aliquid mali, ea beata esse non potest.</li>
    <li>Quonam, inquit, modo?</li>
    <li>Vitiosum est enim in dividendo partem in genere numerare.</li>
    <li>Mihi vero, inquit, placet agi subtilius et, ut ipse dixisti, pressius.</li>
</ul>


<p>Bestiarum vero nullum iudicium puto. Bonum valitudo: miser morbus. Quam si explicavisset, non tam haesitaret. <i>Si longus, levis;</i> <mark>Et ille ridens: Video, inquit, quid agas;</mark> Expectoque quid ad id, quod quaerebam, respondeas. Haec quo modo conveniant, non sane intellego. Quamquam in hac divisione rem ipsam prorsus probo, elegantiam desidero. <b>Quae duo sunt, unum facit.</b> <mark>Si longus, levis.</mark> Restatis igitur vos; Quare obscurentur etiam haec, quae secundum naturam esse dicimus, in vita beata; </p>

<p><mark>An eiusdem modi?</mark> <i>Sed haec omittamus;</i> Nam, ut sint illa vendibiliora, haec uberiora certe sunt. Deinde disputat, quod cuiusque generis animantium statui deceat extremum. Quae contraria sunt his, malane? <mark>Sed ad bona praeterita redeamus.</mark> Ad eos igitur converte te, quaeso. Atqui reperies, inquit, in hoc quidem pertinacem; Ab hoc autem quaedam non melius quam veteres, quaedam omnino relicta. Si enim ad populum me vocas, eum. </p>

<br>

{{ form_start(form) }}
    {{ form_widget(form) }}
{{ form_end(form) }}

<br><br>

{% endblock %}
