<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% stylesheets
    'bundles/bmatznerfontawesome/css/font-awesome.min.css'
    'assets/vendor/bootstrap/dist/css/bootstrap.min.css'
    '@UserBundle/Resources/css/base.css'
    '@UserBundle/Resources/css/user.css'  filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="no-padding">
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            {% block fos_user_content%}{% endblock %}
            {% block content %}{% endblock %}
        </div>
    </div>
</div>
{% javascripts
'assets/vendor/jquery/dist/jquery.min.js'
'assets/vendor/phone-helper/bootstrap-formhelpers-phone.js'
'assets/vendor/bootstrap/dist/js/bootstrap.min.js'
'@UserBundle/Resources/js/base.js*' %}
<script src="{{ asset_url }}"></script>
{% endjavascripts %}
{% block javascripts %}{% endblock %}
</body>
</html>
