{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Reminder - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()})}}">{{ case.getSafeId() }}</a></li>
  <li><a href="{{ url('assistant_reminders', {'caseId': case.getSafeId()})}}">События</a></li>
  <li class="active">{{ reminder.getTitle() }}</li>
</ol>

<div class="page-header">
  <h1>Редактирование события <small>{{ reminder.getTitle() }}</small></h1>
</div>


<div class="row">
    <div class="col-md-6">

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows':5}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.startAt) }}
            {{ form_widget(form.startAt, {'attr': {'class': ''}}) }}
        </div>


        {{ form_end(form) }}

    </div>
</div>


{% endblock %}
