{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Reminders - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()})}}">{{ case.getSafeId() }}</a></li>
  <li class="active">События</li>
</ol>

<div class="page-header">
  <h1>События кейса <small>{{ case.getSafeId() }}</small></h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="30%">Заголовок</th>
                <th width="30%">Текст</th>
                <th width="20%">Дата</th>
                <th width="20%">&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in case.getReminders() %}
                <tr>
                    <td>{{ reminder.getTitle() }}</td>
                    <td>{{ reminder.getDescription() }}</td>
                    <td>{{ reminder.getStartAt().format('d M Y, H:i') }}</td>
                    <td>
                        <a href="{{ url('assistant_reminders_edit', {caseId: case.getSafeId(), reminderId: reminder.getId() }) }}">редактировать</a>
                        /
                        <a href="{{ url('assistant_reminders_delete', {caseId: case.getSafeId(), reminderId: reminder.getId() }) }}" data-method="post">удалить</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Нет ни одного события</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{{ form_start(form) }}
<div class="well well-sm">
<p>
    Добавить запись:
</p>
<table class="strategy-push-table">
    <tbody>
    <tr>
        <td width="30%" style="vertical-align: top;">
            <div class="form-group">
                {{ form_label(form.title) }}
                {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
            </div>
        </td>
        <td width="30%" style="vertical-align: top;">
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'rows':4}}) }}
            </div>
        </td>
        <td width="20%" style="vertical-align: top;">
            <div class="form-group">
                {{ form_label(form.startAt) }}
                {{ form_widget(form.startAt, {'attr': {'class':''}}) }}
            </div>
        </td>
        <td width="20%">
            {{ form_widget(form.add) }}
        </td>
    </tr>
    </tbody>
</table>
</div>
{{ form_end(form) }}


{% endblock %}
