{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Case - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()})}}">{{ case.getUser().getEmail() }}</a></li>
  <li class="active">{{ case.getSafeId() }}</li>
</ol>

<div class="page-header">
  <h1>Кейс <small>{{ case.getSafeId() }}</small></h1>
</div>


<div class="row">
    <div class="col-md-7">
          <div class="panel  panel-primary">
            <div class="panel-heading">Flow</div>
            <div class="panel-body">
                <p>
                    <b>Тариф:</b> {{ case.getTariff() }}
                    {% if case.getFirstPayment() > 0 %}
                        , <b>первый платёж: </b> {{ case.getFirstPayment() }} грн.
                    {% endif %}
                </p>

                <ol class="case-flow-info">
                    {% for item in flowInfo %}
                        <li>
                            <span class="{% if item.active %}active{% endif %}{% if item.done %}done{% endif %}">{{ item.label }}</span>
                            {% if item.active and not item.automatic %}
                                <small>[<a href="{{ url('assistant_cases_finish_stage', {caseId: case.getSafeId()}) }}" data-method="post">завершить</a>]</small>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ol>
            </div>
          </div>
    </div>
    <div class="col-md-5">
          <div class="panel  panel-primary">
            <div class="panel-heading">Анкета {{ case.getQuestionnaire().getSafeId() }}</div>
            <div class="panel-body">
                <p>
                    <b>Статус:</b>
                    {% if case.getQuestionnaire().getStatus() == 1 %}
                            Начата
                    {% elseif case.getQuestionnaire().getStatus() ==2 %}
                        Закончена
                    {% endif %}
                </p>

                <a href="{{ url('assistant_questionnaires_edit', {'questionnaireId': case.getQuestionnaire().getSafeId()}) }}" class="btn btn-primary">Заполнить  анкету</a>
            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
         <div class="panel  panel-default">
            <div class="panel-heading">Дополнительные услуги</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Safe ID:</th>
                                <th>Сума</th>
                                <th>Название</th>
                                <th>Оплачено</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in case.getCustomServices() %}
                                <tr>
                                    <td>{{ item.getSafeId() }}</td>
                                    <td>{{ item.getAmount() }} грн.</td>
                                    <td>{{ item.geTtitle() }}</td>
                                    <td>{% if item.getBilled() %}<b>да</b>{% else %}нет{% endif %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Нет дополнительных услуг</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <a href="{{ url('assistant_cases_push_custom_service', {'caseId': case.getSafeId()}) }}" class="btn btn-primary">Создать + выставить счёт</a>
            </div>
          </div>
    </div>

    <div class="col-md-12">
         <div class="panel  panel-default">
            <div class="panel-heading">Документы</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Safe ID:</th>
                                <th>Название</th>
                                <th>Тип</th>
                                <th>Утверждён</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in case.getDocuments() %}
                                <tr>
                                    <td><a href="{{ url('assistant_documents_view', {'caseId': case.getSafeId(), 'documentId': item.getSafeId()}) }}">{{ item.getSafeId() }}</a></td>
                                    <td>{{ item.geTtitle() }}</td>
                                    <td>{{ item.getDocumentTypesStr()  }}</td>
                                    <td>{% if not item.getIsApproved() %}&mdash;{% else %}&radic;{% endif %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="4">Нет документов</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <a href="{{ url('assistant_documents_upload', {'caseId': case.getSafeId()}) }}" class="btn btn-primary">Добавить</a>
            </div>
          </div>
    </div>
    <div class="col-md-12">
         <div class="panel  panel-default">
            <div class="panel-heading">События</div>
            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="70%">Заголовок</th>
                                    <th width="30%">Дата</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for reminder in case.getReminders() %}
                                    <tr>
                                        <td>{{ reminder.getTitle() }}</td>
                                        <td>{{ reminder.getStartAt().format('d M Y, H:i') }}</td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="2">Нет ни одного события</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <a href="{{ url('assistant_reminders', {caseId: case.getSafeId()}) }}" class="btn btn-primary">Редактировать</a>

            </div>
          </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
         <div class="panel  panel-default">
            <div class="panel-heading">Стратегия</div>
            <div class="panel-body">
                    {% if case.getCustomStrategy() %}
                        <p>Стратегия <b>заполнена</b> ассистентом.</p>
                    {% else %}
                        <p>Стратегия не заполнена ассистентом.</p>
                    {% endif %}

                    <a href="{{ url('assistant_strategy_view', {caseId: case.getSafeId()}) }}" class="btn btn-primary">Редактировать</a>
            </div>
          </div>
    </div>
</div>

{% endblock %}
