<%
    var progress_value = (100 * activeStep / totalSteps);
    var progress_percent = 12.5 * (activeStep - 1) + 6;
    var step_names = [
        "Личные данные",
        "Выберите цель",
        "Данные кредита",
        "Детализация",
        "Обеспечение по кредиту",
        "Взыскание",
        "Финансовое состояние",
        "Урегулирование"
    ];
    var current_class = function(i){
        if (i == activeStep) {
            return 'active';
        } else if(i < activeStep) {
            return 'go-to-step done';
        } else {
            return 'go-to-step';
        }
    }
%>

<div class="panel panel-default qui-base-view">
    <div class="contenthead">
        <div class="progresscontainer hidden-xs hidden-sm">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="<%= progress_value %>" aria-valuemin="0" aria-valuemax="100" style="width: <%= progress_percent %>%;">
                </div>
            </div>
            <div class="progresstext xs-hide">
                <ul>
                    <% for( var i = 1; i <= totalSteps; i++) { %>
                        <li class="<%= current_class(i) %>" data-step="<%= i %>"><%= step_names[i - 1] %></li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="step-container"></div>
    </div>
    <div class="buttonscontainer">
        <nav>
            <ul class="pager">
                <% if(activeStep != 1) { %>
                    <li class="previous prev-btn"><a href="javascript: void(0);">Назад</a></li>
                <% } %>
                <li class="next next-btn"><a href="javascript: void(0);">Далее</a></li>
            </ul>
        </nav>
    </div>
</div>