<div class="formcontainer">
    <div class="headline"><h2>Выберите цель</h2><span>Шаг 2 из 8</span></div>
    <div class="goals col-xs-12 col-sm-12 col-lg-12" id="qs-main_goal">
        <div class="col-xs-6 col-lg-3">
            <label class="goal1 <%= data.goal.main_goal == 1 ? 'active' : '' %>" data-value="1" >Реструктуризация кредита</label>
        </div>
        <div class="col-xs-6 col-lg-3">
            <label class="goal2 <%= data.goal.main_goal == 2 ? 'active' : '' %>" data-value="2" >Рассчитаться по кредиту</label>
        </div>
        <div class="col-xs-6 col-lg-3">
            <label class="goal3 <%= data.goal.main_goal == 3 ? 'active' : '' %>" data-value="3" >Освободиться от поручительств</label>
        </div>
        <div class="col-xs-6 col-lg-3">
            <label class="goal4 <%= data.goal.main_goal == 4 ? 'active' : '' %>" data-value="4" >Банкротство</label>
        </div>
        <div class="comment"><%= data.showError('goal','main_goal') %></div>
    </div>

</div>


<fieldset id="qs-goal-1-set">
    <legend>Реструктуризация кредита</legend>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="qs1-goal1-exchange">Хотите перевести в грн?</label>
                <select  id="qs1-goal1-exchange" class="form-control">
                    <option value="1" <% if (data.goal.exchange_to_uah == 1) { %>selected<% } %>>Да</option>
                    <option value="2" <% if (data.goal.exchange_to_uah == 2) { %>selected<% } %>>Нет</option>
                </select>
                <%= data.showError('goal','exchange_to_uah') %>
            </div>
        </div>
        <div class="col-md-9">
            <div class="form-group">
                <label for="qs1-goal1-amount">Какую сумму сможете выплачивать ежемесячно?</label>
                <input type="number" class="form-control" id="qs1-goal1-amount" placeholder="Сумма" value="<%= data.goal.monthly_pay %>">
                <%= data.showError('goal','monthly_pay') %>
            </div>
        </div>
    </div>
</fieldset>

<fieldset id="qs-goal-2-set">
    <legend>Рассчитаться по кредиту</legend>


    <div class="row">
        <div class="col-md-4">
            <div class="radio">
                <%= data.showError('goal','property_type') %>
                <label>
                    <input type="radio" name="qs1-goal2-a" id="qs1-goal2-a1" value="1" <% if (data.goal.property_type == 1) { %>checked<% } %>>
                    Хочу сохранить это залоговое имущество
                </label>
            </div>
        </div>
        <div class="col-md-8" id="qs-goal-2-set-1">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="qs1-goal2-b">Готовы погасить кредит с дисконтом(скидкой)?</label>
                        <select  id="qs1-goal2-b" class="form-control">
                            <option value="1" <% if (data.goal.property_type_1_pay_with_discount == 1) { %>selected<% } %>>Да</option>
                            <option value="2" <% if (data.goal.property_type_1_pay_with_discount == 2) { %>selected<% } %>>Нет</option>
                        </select>
                        <%= data.showError('goal','property_type_1_pay_with_discount') %>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="qs1-goal2-c">Какую сумму готовы заплатить?</label>
                        <input type="number" class="form-control" id="qs1-goal2-c" placeholder="Сумма" value="<%= data.goal.property_type_1_amount %>">
                        <%= data.showError('goal','property_type_1_amount') %>
                    </div>
                    <p id="qs1-goal2-c2" style="display: none;">
                        Вам прийдётся заплатить полную сумму задолжености банку или ваша цель не верна.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="radio">
                <%= data.showError('goal','property_type') %>
                <label>
                    <input type="radio" name="qs1-goal2-a" id="qs1-goal2-a2" value="2" <% if (data.goal.property_type == 2) { %>checked<% } %>>
                    Готов продать или расстаться с залоговым имуществом
                </label>
            </div>
        </div>
        <div class="col-md-8" id="qs-goal-2-set-2">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="qs1-goal2-d">Готовы на переезд в другой город?</label>
                        <select  id="qs1-goal2-d" class="form-control">
                            <option value="1" <% if (data.goal.property_type_2_relocation == 1) { %>selected<% } %>>Да</option>
                            <option value="2" <% if (data.goal.property_type_2_relocation == 2) { %>selected<% } %>>Нет</option>
                        </select>
                        <%= data.showError('goal','property_type_2_relocation') %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <div class="radio">
                <%= data.showError('goal','property_type') %>
                <label>
                    <input type="radio" name="qs1-goal2-a" id="qs1-goal2-a3" value="3" <% if (data.goal.property_type == 3) { %>checked<% } %>>
                    Мой кредит беззалоговый
                </label>
            </div>
        </div>
        <div class="col-md-8" id="qs-goal-2-set-3">
            <div class="row">
                <div class="col-md-5">
                    <div class="form-group">
                        <label for="qs1-goal2-e">Готовы погасить кредит с дисконтом(скидкой)?</label>
                        <select  id="qs1-goal2-e" class="form-control">
                            <option value="1" <% if (data.goal.property_type_3_pay_with_discount == 1) { %>selected<% } %>>Да</option>
                            <option value="2" <% if (data.goal.property_type_3_pay_with_discount == 2) { %>selected<% } %>>Нет</option>
                        </select>
                        <%= data.showError('goal','property_type_3_pay_with_discount') %>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <label for="qs1-goal2-f">Какую сумму готовы заплатить?</label>
                        <input type="number" class="form-control" id="qs1-goal2-f" placeholder="Сумма" value="<%= data.goal.property_type_3_amount %>">
                        <%= data.showError('goal','property_type_3_amount') %>
                    </div>
                    <p id="qs1-goal2-f2" style="display: none;">
                        Вам прийдётся заплатить полную сумму задолжености банку или ваша цель не верна.
                    </p>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset  id="qs-goal-3-set">
    <legend>Освободиться от поручительств</legend>
    <p>
       <i>ToDo: ...</i>
    </p>
</fieldset>


<fieldset  id="qs-goal-4-set">
    <legend>Банкротство</legend>
    <div class="row">
        <div class="col-md-6">
            <div class="radio">
                <%= data.showError('goal','bankruptcy_type') %>
                <label>
                    <input type="radio" name="qs1-goal4-a" id="qs1-goal4-a1" value="1" <% if (data.goal.bankruptcy_type == 1) { %>checked<% } %>>
                    Хочу сохранить залоговое имущество
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="radio">
                <%= data.showError('goal','bankruptcy_type') %>
                <label>
                    <input type="radio" name="qs1-goal4-a" id="qs1-goal4-a2" value="2" <% if (data.goal.bankruptcy_type == 2) { %>checked<% } %>>
                    Готов(а) расстаться с залоговым имуществом
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6" id="qs-goal-4-set-1">
            <div class="form-group">
                <label for="qs1-goal4-b">Готовы погасить кредит с дисконтом (скидкой)?</label>
                <select  id="qs1-goal4-b" class="form-control">
                    <option value="1" <% if (data.goal.bankruptcy_pay_with_discount == 1) { %>selected<% } %>>Да</option>
                    <option value="2" <% if (data.goal.bankruptcy_pay_with_discount == 2) { %>selected<% } %>>Нет</option>
                </select>
                <%= data.showError('goal','bankruptcy_pay_with_discount') %>
            </div>
            <div class="form-group">
                <label for="qs1-goal4-c">Какую сумму готовы заплатить?</label>
                <input type="number" class="form-control" id="qs1-goal4-c" placeholder="Сумма" value="<%= data.goal.bankruptcy_amount %>">
                <%= data.showError('goal','bankruptcy_amount') %>
            </div>
            <p id="qs1-goal4-c2" style="display: none;">
                Вам прийдётся заплатить полную сумму задолжености банку или ваша цель не верна.
            </p>
        </div>
    </div>
</fieldset>

