<div class="formcontainer">

    <div class="row headline"><h2>Личные данные</h2><span>Шаг 1 из 8</span></div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Имя</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" id="qs-first_name" placeholder="Петр" value="<%= data.user.first_name %>">
            <div class="comment"><%= data.showError('user','first_name') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Фамилия</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" placeholder="Красков" id="qs-last_name"  value="<%= data.user.last_name %>">
            <div class="comment"><%= data.showError('user','last_name') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Отчество</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" placeholder="Петрович" id="qs-patronymic" value="<%= data.user.patronymic %>">
            <div class="comment"><%= data.showError('user','patronymic') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Город</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" id="qs-locality" placeholder="Киев" value="<%= data.user.locality %>">
            <div class="comment"><%= data.showError('user','locality') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-3 col-sm-3 col-lg-3">Телефон</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="tel" class="text" placeholder="+38(067) 212-12-12" id="qs-phone_number"  value="<%= data.user.phone_number %>">
            <div class="comment"><%= data.showError('user','phone_number') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-sm-3 col-xs-6 col-lg-3">Статус</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <div class="dibs" id="qs-client_status">
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.goal.client_status == 1 ? 'active' : '' %>" data-value="1"><span>Заемщик</span></label>
                </div>
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.goal.client_status == 2 ? 'active' : '' %>" data-value="2"><span>Поручитель</span></label>
                </div>
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.goal.client_status == 3 ? 'active' : '' %>" data-value="3"><span>Залогодатель</span></label>
                </div>
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.goal.client_status == 4 ? 'active' : '' %>" data-value="4"><span>Ипотекодатель</span></label>
                </div>
            </div>
            <div class="comment"><%= data.showError('goal','client_status') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Серия и номер паспорта</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" placeholder="5600 123456" id="qs-passport"  value="<%= data.user.passport %>">
            <div class="comment"><%= data.showError('user','passport') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Идентификационный код</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" placeholder="3689100003" id="qs-identification_code"  value="<%= data.user.identification_code %>">
            <div class="comment"><%= data.showError('user','identification_code') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Дата рождения</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" id="qs-birthdate"  value="<%= data.user.birthdate %>" placeholder="31-12-2000">
            <div class="comment"><%= data.showError('user','birthdate') %></div>
        </div>
    </div>
</div>
