<div class="formcontainer">

    <div class="row headline"><h2>Данные кредита</h2><span>Шаг 3 из 8</span></div>

    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Статус по кредиту</div>
        <div class="checkboxes col-xs-12 col-sm-9 col-lg-9" id="qs-status">
            <input type="radio" name="hard" id="yes_status" <%= data.credit.status == 1 ? 'checked' : '' %> value="1"><label for="yes_status">Проблемный </label>
            <input type="radio" name="hard" id="no_status" <%= data.credit.status == 2 ? 'checked' : '' %> value="2"> <label for="no_status">Не проблемный </label>
            <div class="comment"><%= data.showError('credit','status') %></div>
        </div>
    </div>

    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Валюта по кредиту</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">

            <div class="dibs" id="qs-currency">
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.credit.currency == 1 ? 'active' : '' %>" data-value="1" >
                        <span>Гривна</span>
                    </label>
                </div>
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.credit.currency == 2 ? 'active' : '' %>" data-value="2" >
                        <span>Доллар</span>
                    </label>
                </div>
                <div class="dib active col-xs-6 col-lg-3">
                    <label class="<%= data.credit.currency == 3 ? 'active' : '' %>" data-value="3" >
                        <span>Евро</span>
                    </label>
                </div>
                <div class="dib col-xs-6 col-lg-3">
                    <label class="<%= data.credit.currency == 4 ? 'active' : '' %>" data-value="4" >
                        <span>Шв. Франк</span>
                    </label>
                </div>
            </div>
            <div class="comment"><%= data.showError('credit','currency') %></div>
        </div>
    </div>

    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Статус физического лица предпринимателя</div>
        <div class="checkboxes col-xs-12 col-sm-9 col-lg-9">
            <input type="checkbox" id="qs-is_entrepreneur" <%= data.credit.is_entrepreneur == 1 ? 'checked' : '' %> >
            <label for="qs-is_entrepreneur">Присутствует</label>
            <div class="comment"><%= data.showError('credit','is_entrepreneur') %></div>
        </div>
    </div>

    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Мораторий</div>
        <div class="checkboxes col-xs-12 col-sm-9 col-lg-9">
            <input type="checkbox" id="qs-distributed_moratorium" <%= data.credit.distributed_moratorium == 1 ? 'checked' : '' %> >
            <label for="qs-distributed_moratorium">Распространяется</label>
            <div class="comment"><%= data.showError('credit','distributed_moratorium') %></div>
        </div>
    </div>

</div>