<!--<fieldset>-->
    <!--<legend>Детализация Кредита</legend>-->

    <!--<div class="row">-->
        <!--<div class="col-md-3">-->
            <!--<label for="qs4-credit_details0">Банк</label>-->
            <!--<input type="text" value="<%= data.credit_details.bank_name %>" class="form-control" id="qs4-credit_details0" placeholder="Банк">-->
            <!--<%= data.showError('credit_details','bank_name') %>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details1">№ кредитного договора</label>-->
                <!--<input type="text" value="<%= data.credit_details.agreement_id %>" class="form-control" id="qs4-credit_details1" placeholder="№ кредитного договора">-->
                <!--<%= data.showError('credit_details','agreement_id') %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details2">Дата выдачи кредита</label>-->
                <!--<input type="text" value="<%= data.credit_details.credit_issue_date %>" class="form-control" id="qs4-credit_details2" placeholder="Дата выдачи кредита">-->
                <!--<%= data.showError('credit_details','credit_issue_date') %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-3">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details3">Дата закрытия кредита</label>-->
                <!--<input type="text" value="<%= data.credit_details.credit_close_date %>" class="form-control" id="qs4-credit_details3" placeholder="Дата закрытия кредита">-->
                <!--<%= data.showError('credit_details','credit_close_date') %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->

    <!--<div class="row">-->
        <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details4">Сумма выданного кредита</label>-->
                <!--<input type="number" value="<%= data.credit_details.issued_credit_amount %>" min="0" class="form-control" id="qs4-credit_details4" placeholder="Сумма выданного кредита">-->
                <!--<%= data.showError('credit_details','issued_credit_amount') %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details5">Процентная ставка</label>-->

                <!--<div class="input-group">-->
                    <!--<div class="input-group-addon">%</div>-->
                    <!--<input type="number" value="<%= data.credit_details.credit_rate %>" min="0" max="100" class="form-control" id="qs4-credit_details5" placeholder="Процентная ставка">-->
                <!--</div>-->

                <!--<%= data.showError('credit_details','credit_rate') %>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="col-md-4">-->
            <!--<div class="form-group">-->
                <!--<label for="qs4-credit_details6">Ежемесячный платеж</label>-->
                <!--<input type="number" value="<%= data.credit_details.monthly_pay %>" min="0" class="form-control" id="qs4-credit_details6" placeholder="Ежемесячный платеж">-->
                <!--<%= data.showError('credit_details','monthly_pay') %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</fieldset>-->



<%
var disableDelay = data.credit_details.is_delayed == 1 ? '' : 'disabled'

%>


<div class="formcontainer">

    <div class="row headline"><h2>Детализация</h2><span>Шаг 4 из 8</span></div>

    <h4 class="row">Детализация Кредита</h4>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Банк</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="text" class="text" placeholder="ООО Банк России" id="qs-bank_name" value="<%= data.credit_details.bank_name %>">
            <div class="comment"><%= data.showError('credit_details','bank_name') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">№ кредитного договора</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="17667567543" id="qs-agreement_id" class="text" value="<%= data.credit_details.agreement_id %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','agreement_id') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Срок кредита</div>
        <div class="gr col-xs-12 col-sm-9 col-lg-9">
            <div class="col-sm-6">
                <input type="text" class="text" placeholder="Дата выдачи" id="qs-credit_issue_date" value="<%= data.credit_details.credit_issue_date %>">
                <div class="comment"><%= data.showError('credit_details','credit_issue_date') %></div>
            </div>
            <div class="col-sm-6">
                <input type="text" class="text" placeholder="Дата закрытия" id="qs-credit_close_date" value="<%= data.credit_details.credit_close_date %>">
                <div class="comment"><%= data.showError('credit_details','credit_close_date') %></div>
            </div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Процентная ставка</div>
        <div class="phone col-xs-12 col-sm-9 col-lg-9">
            <span>%</span>
            <input type="number" placeholder="43" id="qs-credit_rate" class="text" value="<%= data.credit_details.credit_rate %>" min="0" max="100" >
            <div class="comment"><%= data.showError('credit_details','credit_rate') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Ежемесячный платеж</div>
        <div class="phone col-xs-12 col-sm-9 col-lg-9">
            <span>$</span>
            <input type="number" placeholder="660" id="qs-monthly_pay" class="text" value="<%= data.credit_details.monthly_pay %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','monthly_pay') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Сумма выданного кредита</div>
        <div class="phone col-xs-12 col-sm-9 col-lg-9">
            <span>$</span>
            <input type="number" placeholder="5400" id="qs-issued_credit_amount" class="text" value="<%= data.credit_details.issued_credit_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','issued_credit_amount') %></div>
        </div>
    </div>

    <h4 class="row groupline">Сумма остатка по кредиту</h4>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Сумма остатка по кредиту</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="1000" id="qs-credit_left_amount" class="text" value="<%= data.credit_details.credit_left_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_left_amount') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">По телу кредита</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="100" id="qs-credit_body_amount" class="text" value="<%= data.credit_details.credit_body_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_body_amount') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Проценты</div>
        <div class="phone col-xs-12 col-sm-9 col-lg-9">
            <span>%</span>
            <input type="number" placeholder="23" id="qs-credit_left_rate" class="text" value="<%= data.credit_details.credit_left_rate %>" min="0" max="100">
            <div class="comment"><%= data.showError('credit_details','credit_left_rate') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Пени и штрафы</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="500" id="qs-credit_fines" class="text" value="<%= data.credit_details.credit_fines %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_fines') %></div>
        </div>
    </div>



    <h4 class="row groupline">Просрочка</h4>
    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Просрочка</div>
        <div class="checkboxes col-xs-12 col-sm-9 col-lg-9" id="qs-is_delayed" data-control="delay_days,delay_amount">
            <input type="radio" name="hard" id="yes_is_delayed" <%= data.credit_details.is_delayed == 1 ? 'checked' : '' %> value="1">
            <label for="yes_is_delayed">Да</label>
            <input type="radio" name="hard" id="no_is_delayed" <%= data.credit_details.is_delayed == 2 ? 'checked' : '' %> value="2">
            <label for="no_is_delayed">Нет</label>
            <div class="comment"><%= data.showError('credit_details','is_delayed') %></div>
        </div>
    </div>
    <div class="row bordered input <%= disableDelay %>">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Дней</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" <%= disableDelay %> placeholder="40" id="qs-delay_days" class="text" value="<%= data.credit_details.delay_days %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','delay_days') %></div>
        </div>
    </div>
    <div class="row bordered input <%= disableDelay %>">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Сумма</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" <%= disableDelay %> placeholder="500" id="qs-delay_amount" class="text" value="<%= data.credit_details.delay_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','delay_amount') %></div>
        </div>
    </div>

    <h4 class="row groupline">Выплаченная сумма банку, включая проценты, на момент заполнения анкеты</h4>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Выплаченная сумма банку</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="700" id="qs-paid_to_bank_amount" class="text" value="<%= data.credit_details.paid_to_bank_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','paid_to_bank_amount') %></div>
        </div>
    </div>

</div>