<h3>Обеспечение по кредиту</h3>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-credit_extras-h-nothing" <% if (data.credit_extras.nothing == 1) { %>checked<% } %>> Отсутствует
            </label>
            <%= data.showError('credit_extras','nothing') %>
        </div>
    </legend>

    <div id="block-credit_extras-nothing">
        <h3>Отсутствует</h3>
    </div>

</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-credit_extras-h-mortgage" <% if (data.credit_extras.mortgage == 1) { %>checked<% } %>> Ипотека
            </label>
            <%= data.showError('credit_extras','mortgage') %>
        </div>
    </legend>

    <div id="block-credit_extras-mortgage">
        <h4>Месторасположение</h4>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs5-credit_extras-mortgage1">Город</label>
                    <input type="text" class="form-control" value="<%= data.credit_extras.mortgage_city %>" id="qs5-credit_extras-mortgage1" placeholder="Город">
                    <%= data.showError('credit_extras','mortgage_city') %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs5-credit_extras-mortgage2">Район</label>
                    <input type="text" class="form-control" value="<%= data.credit_extras.mortgage_county %>" id="qs5-credit_extras-mortgage2" placeholder="Район">
                    <%= data.showError('credit_extras','mortgage_county') %>
                </div>
            </div>
        </div>

        <h4>Наименование объекта <%= data.showError('credit_extras','mortgage_option') %></h4>
        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <!--<input type="checkbox" <% if (data.credit_extras.mortgage_apartment == 1) { %>checked<% } %> id="qs5-credit_extras-mortgage-h-apartment"> Квартира-->
                        <input type="radio" name="qs5-credit_extras-mortgage-h-option" value="1" <% if (data.credit_extras.mortgage_option == 1) { %>checked<% } %> /> Квартира
                    </label>
                </div>
            </legend>

            <div id="block-credit_extras-mortgage-apartment">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-apartment1">Площадь(кв.м)</label>
                            <input type="number" min="0" class="form-control" value="<%= data.credit_extras.mortgage_apartment_area %>" id="qs5-credit_extras-mortgage-apartment1" placeholder="Площадь (кв.м)">
                            <%= data.showError('credit_extras','mortgage_apartment_area') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-apartment2">Тех. состояние</label>
                            <select  id="qs5-credit_extras-mortgage-apartment2" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_apartment_state == 1) { %>selected<% } %>>Удовлетворительное</option>
                                <option value="2" <% if (data.credit_extras.mortgage_apartment_state == 2) { %>selected<% } %>>Не удовлетворительное</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_apartment_state') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-apartment3">Рыночная стоимость (в валюте кредита)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_apartment_cost %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-apartment3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','mortgage_apartment_cost') %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-apartment4">Зарегистрированы несовершеннолетние, нетрудоспособные, пенсионеры, ветераны АТО</label>
                            <select  id="qs5-credit_extras-mortgage-apartment4" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_apartment_is_registered_perps == 1) { %>selected<% } %>>Да</option>
                                <option value="2" <% if (data.credit_extras.mortgage_apartment_is_registered_perps == 2) { %>selected<% } %>>Нет</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_apartment_is_registered_perps') %>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-apartment5">Кто из перечисленных зарегестрирован?</label>
                            <input type="text" value="<%= data.credit_extras.mortgage_apartment_perps %>" class="form-control" id="qs5-credit_extras-mortgage-apartment5" placeholder="Кто из перечисленных зарегестрирован?">
                            <%= data.showError('credit_extras','mortgage_apartment_perps') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <!--<input type="checkbox" id="qs5-credit_extras-mortgage-h-house" <% if (data.credit_extras.mortgage_house == 1) { %>checked<% } %>> Дом-->
                        <input type="radio" name="qs5-credit_extras-mortgage-h-option" value="2" <% if (data.credit_extras.mortgage_option == 2) { %>checked<% } %> /> Дом
                    </label>
                </div>
            </legend>

            <div id="block-credit_extras-mortgage-house">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-house1">Площадь(кв.м)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_house_area %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-house1" placeholder="Площадь (кв.м)">
                            <%= data.showError('credit_extras','mortgage_house_area') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-house2">Тех. состояние</label>
                            <select  id="qs5-credit_extras-mortgage-house2" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_house_state == 1) { %>selected<% } %>>Удовлетворительное</option>
                                <option value="2" <% if (data.credit_extras.mortgage_house_state == 2) { %>selected<% } %>>Не удовлетворительное</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_house_state') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-house3">Рыночная стоимость (в валюте кредита)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_house_cost %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-house3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','mortgage_house_cost') %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-house4">Зарегистрированы несовершеннолетние, нетрудоспособные, пенсионеры, ветераны АТО</label>
                            <select  id="qs5-credit_extras-mortgage-house4" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_house_is_registered_perps == 1) { %>selected<% } %>>Да</option>
                                <option value="2" <% if (data.credit_extras.mortgage_house_is_registered_perps == 2) { %>selected<% } %>>Нет</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_house_is_registered_perps') %>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-house5">Кто из перечисленных зарегестрирован?</label>
                            <input type="text" value="<%= data.credit_extras.mortgage_house_perps %>" class="form-control" id="qs5-credit_extras-mortgage-house5" placeholder="Кто из перечисленных зарегестрирован?">
                            <%= data.showError('credit_extras','mortgage_house_perps') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <!--<input type="checkbox" id="qs5-credit_extras-mortgage-h-estate" <% if (data.credit_extras.mortgage_estate == 1) { %>checked<% } %>> Коммерческая недвижимость-->
                        <input type="radio" name="qs5-credit_extras-mortgage-h-option" value="3" <% if (data.credit_extras.mortgage_option == 3) { %>checked<% } %> /> Коммерческая недвижимость
                    </label>
                </div>
            </legend>

            <div id="block-credit_extras-mortgage-estate">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-estate1">Площадь(кв.м)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_estate_area %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-estate1" placeholder="Площадь (кв.м)">
                            <%= data.showError('credit_extras','mortgage_estate_area') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-estate2">Тех. состояние</label>
                            <select  id="qs5-credit_extras-mortgage-estate2" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_estate_state == 1) { %>selected<% } %>>Удовлетворительное</option>
                                <option value="2" <% if (data.credit_extras.mortgage_estate_state == 2) { %>selected<% } %>>Не удовлетворительное</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_estate_state') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-estate3">Рыночная стоимость (в валюте кредита)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_estate_cost %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-estate3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','mortgage_estate_cost') %>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-estate4">Эксплуатируется?</label>
                            <select  id="qs5-credit_extras-mortgage-estate4" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_estate_operated == 1) { %>selected<% } %>>Да</option>
                                <option value="2" <% if (data.credit_extras.mortgage_estate_operated == 2) { %>selected<% } %>>Нет</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_estate_operated') %>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-estate5">Какой доход приносит?</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_estate_profit %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-estate5" placeholder="Какой доход приносит?">
                            <%= data.showError('credit_extras','mortgage_estate_profit') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <!--<input type="checkbox" id="qs5-credit_extras-mortgage-h-area" <% if (data.credit_extras.mortgage_area == 1) { %>checked<% } %>> Земля-->
                        <input type="radio" name="qs5-credit_extras-mortgage-h-option" value="4" <% if (data.credit_extras.mortgage_option == 4) { %>checked<% } %> /> Земля
                    </label>
                </div>
            </legend>

            <div id="block-credit_extras-mortgage-area">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-area1">Площадь (соток)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_area_area %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-area1" placeholder="Площадь (кв.м)">
                            <%= data.showError('credit_extras','mortgage_area_area') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-area2">Назначение</label>
                            <select  id="qs5-credit_extras-mortgage-area2" class="form-control">
                                <option value="1" <% if (data.credit_extras.mortgage_area_purpose == 1) { %>selected<% } %>>Сельскохозяйственное</option>
                                <option value="2" <% if (data.credit_extras.mortgage_area_purpose == 2) { %>selected<% } %>>Под застройку</option>
                            </select>
                            <%= data.showError('credit_extras','mortgage_area_purpose') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-area3">Рыночная стоимость (в валюте кредита)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_area_cost %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-area3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','mortgage_area_cost') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <!--<input type="checkbox" id="qs5-credit_extras-mortgage-h-other" <% if (data.credit_extras.mortgage_other == 1) { %>checked<% } %>> Другое-->
                        <input type="radio" name="qs5-credit_extras-mortgage-h-option" value="5" <% if (data.credit_extras.mortgage_option == 5) { %>checked<% } %> /> Другое
                    </label>
                </div>
            </legend>

            <div id="block-credit_extras-mortgage-other">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="qs5-credit_extras-mortgage-other1">Рыночная стоимость (в валюте кредита)</label>
                            <input type="number" value="<%= data.credit_extras.mortgage_other_cost %>" min="0" class="form-control" id="qs5-credit_extras-mortgage-other1" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','mortgage_other_cost') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>

</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-credit_extras-h-surety" <% if (data.credit_extras.surety == 1) { %>checked<% } %>> Поручительство
            </label>
            <%= data.showError('credit_extras','surety') %>
        </div>
    </legend>

    <div id="block-credit_extras-surety">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs5-credit_extras-surety1">ФИО поручителя</label>
                    <input type="text" value="<%= data.credit_extras.surety_person_fullname %>" class="form-control" id="qs5-credit_extras-surety1" placeholder="ФИО поручителя">
                    <%= data.showError('credit_extras','surety_person_fullname') %>
                </div>
            </div>
        </div>

        <h4>Контактные данные</h4>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs5-credit_extras-surety2">Телефон</label>
                    <input type="text" value="<%= data.credit_extras.surety_person_phone %>" class="form-control" id="qs5-credit_extras-surety2" placeholder="Телефон">
                    <%= data.showError('credit_extras','surety_person_phone') %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs5-credit_extras-surety3">E-mail</label>
                    <input type="text" value="<%= data.credit_extras.surety_person_email %>" class="form-control" id="qs5-credit_extras-surety3" placeholder="E-mail">
                    <%= data.showError('credit_extras','surety_person_email') %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs5-credit_extras-surety4">Другой вид связи</label>
                    <input type="text" value="<%= data.credit_extras.surety_person_contact_details %>" class="form-control" id="qs5-credit_extras-surety4" placeholder="Другой вид связи">
                    <%= data.showError('credit_extras','surety_person_contact_details') %>
                </div>
            </div>
        </div>
    </div>

</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-credit_extras-h-pledge" <% if (data.credit_extras.pledge == 1) { %>checked<% } %>> Залог
            </label>
            <%= data.showError('credit_extras','pledge') %>
        </div>
    </legend>

    <div id="block-credit_extras-pledge">
        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="qs5-credit_extras-pledge-h-car" <% if (data.credit_extras.pledge_car == 1) { %>checked<% } %>> Автомобиль
                    </label>
                    <%= data.showError('credit_extras','pledge_car') %>
                </div>
            </legend>

            <div id="block-credit_extras-pledge-car">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-car1">Марка</label>
                            <input type="text" value="<%= data.credit_extras.pledge_car_brand %>" class="form-control" id="qs5-credit_extras-pledge-car1" placeholder="Марка">
                            <%= data.showError('credit_extras','pledge_car_brand') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-car2">Год выпуска</label>
                            <input type="number" value="<%= data.credit_extras.pledge_car_manufacture_year %>" min="1900" class="form-control" id="qs5-credit_extras-pledge-car2" placeholder="Год выпуска">
                            <%= data.showError('credit_extras','pledge_car_manufacture_year') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-car3">Рыночная стоимость</label>
                            <input type="number" value="<%= data.credit_extras.pledge_car_cost %>" min="0" class="form-control" id="qs5-credit_extras-pledge-car3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','pledge_car_cost') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-car4">Город регистрации</label>
                            <input type="text" value="<%= data.credit_extras.pledge_car_registration_year %>"
                                   class="form-control" id="qs5-credit_extras-pledge-car4" placeholder="Город регистрации">
                            <%= data.showError('credit_extras','pledge_car_registration_year') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="qs5-credit_extras-pledge-h-movables" <% if (data.credit_extras.pledge_movables == 1) { %>checked<% } %>> Движимое имущество
                    </label>
                    <%= data.showError('credit_extras','pledge_movables') %>
                </div>
            </legend>

            <div id="block-credit_extras-pledge-movables">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-movables1">Наименование</label>
                            <input type="text" value="<%= data.credit_extras.pledge_movables_name %>" class="form-control" id="qs5-credit_extras-pledge-movables1" placeholder="Наименование">
                            <%= data.showError('credit_extras','pledge_movables_name') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-movables2">Год выпуска</label>
                            <input type="number" value="<%= data.credit_extras.pledge_movables_manufacture_year %>" min="1900" class="form-control" id="qs5-credit_extras-pledge-movables2" placeholder="Год выпуска">
                            <%= data.showError('credit_extras','pledge_movables_manufacture_year') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-movables3">Рыночная стоимость</label>
                            <input type="number" value="<%= data.credit_extras.pledge_movables_cost %>" min="0" class="form-control" id="qs5-credit_extras-pledge-movables3" placeholder="Рыночная стоимость">
                            <%= data.showError('credit_extras','pledge_movables_cost') %>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-movables4">Город регистрации</label>
                            <input type="text" value="<%= data.credit_extras.pledge_movables_registration_year %>"
                                   class="form-control" id="qs5-credit_extras-pledge-movables4" placeholder="Город регистрации">
                            <%= data.showError('credit_extras','pledge_movables_registration_year') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="qs5-credit_extras-pledge-h-securities" <% if (data.credit_extras.pledge_securities == 1) { %>checked<% } %>> Ценные бумаги
                    </label>
                    <%= data.showError('credit_extras','pledge_securities') %>
                </div>
            </legend>

            <div id="block-credit_extras-pledge-securities">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-securities1">Оценночная текущая стоимость</label>
                            <input type="number" min="0" value="<%= data.credit_extras.pledge_securities_cost %>" class="form-control" id="qs5-credit_extras-pledge-securities1" placeholder="Оценночная текущая стоимость">
                            <%= data.showError('credit_extras','pledge_securities_cost') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="qs5-credit_extras-pledge-h-corporate_rights" <% if (data.credit_extras.pledge_corporate_rights == 1) { %>checked<% } %>> Корпоративные права
                    </label>
                    <%= data.showError('credit_extras','pledge_corporate_rights') %>
                </div>
            </legend>

            <div id="block-credit_extras-pledge-corporate_rights">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-corporate_rights1">Предприятие работающее?</label>
                            <select  id="qs5-credit_extras-pledge-corporate_rights1" class="form-control">
                                <option value="1" <% if (data.credit_extras.pledge_corporate_rights_operated == 1) { %>selected<% } %>>Да</option>
                                <option value="2" <% if (data.credit_extras.pledge_corporate_rights_operated == 2) { %>selected<% } %>>Нет</option>
                            </select>
                            <%= data.showError('credit_extras','pledge_corporate_rights_operated') %>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-corporate_rights2">Ваше участие в компании
                                решающее?</label>
                            <select  id="qs5-credit_extras-pledge-corporate_rights2" class="form-control">
                                <option value="1" <% if (data.credit_extras.pledge_corporate_rights_owned == 1) { %>selected<% } %>>Да</option>
                                <option value="2" <% if (data.credit_extras.pledge_corporate_rights_owned == 2) { %>selected<% } %>>Нет</option>
                            </select>
                            <%= data.showError('credit_extras','pledge_corporate_rights_owned') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" id="qs5-credit_extras-pledge-h-other" <% if (data.credit_extras.pledge_other == 1) { %>checked<% } %>> Другое
                    </label>
                    <%= data.showError('credit_extras','pledge_other') %>
                </div>
            </legend>

            <div id="block-credit_extras-pledge-other">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs5-credit_extras-pledge-other1">Оценночная текущая стоимость</label>
                            <input type="number" value="<%= data.credit_extras.pledge_other_cost %>" min="0" class="form-control" id="qs5-credit_extras-pledge-other1" placeholder="Оценночная текущая стоимость">
                            <%= data.showError('credit_extras','pledge_other_cost') %>
                        </div>
                    </div>
                </div>
            </div>

        </fieldset>
    </div>

</fieldset>