<%
    var disableDelay = data.credit_details.is_delayed == 1 ? '' : 'disabled'

%>


<div class="formcontainer">

    <div class="row headline"><h2>Детализация</h2><span>Шаг 4 из 8</span></div>

    <h4 class="row groupline">Сумма остатка по кредиту</h4>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Сумма остатка по кредиту</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="1000" id="qs-credit_left_amount" class="text" value="<%= data.credit_details.credit_left_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_left_amount') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">По телу кредита</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="100" id="qs-credit_body_amount" class="text" value="<%= data.credit_details.credit_body_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_body_amount') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Проценты</div>
        <div class="phone col-xs-12 col-sm-9 col-lg-9">
            <span>%</span>
            <input type="number" placeholder="23" id="qs-credit_left_rate" class="text" value="<%= data.credit_details.credit_left_rate %>" min="0" max="100">
            <div class="comment"><%= data.showError('credit_details','credit_left_rate') %></div>
        </div>
    </div>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Пени и штрафы</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="500" id="qs-credit_fines" class="text" value="<%= data.credit_details.credit_fines %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','credit_fines') %></div>
        </div>
    </div>



    <h4 class="row groupline">Просрочка</h4>
    <div class="row bordered">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Просрочка</div>
        <div class="checkboxes col-xs-12 col-sm-9 col-lg-9" id="qs-is_delayed" data-control="delay_days,delay_amount">
            <input type="radio" name="hard" id="yes_is_delayed" <%= data.credit_details.is_delayed == 1 ? 'checked' : '' %> value="1">
            <label for="yes_is_delayed">Да</label>
            <input type="radio" name="hard" id="no_is_delayed" <%= data.credit_details.is_delayed == 2 ? 'checked' : '' %> value="2">
            <label for="no_is_delayed">Нет</label>
            <div class="comment"><%= data.showError('credit_details','is_delayed') %></div>
        </div>
    </div>
    <div class="row bordered input <%= disableDelay %>">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Дней</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" <%= disableDelay %> placeholder="40" id="qs-delay_days" class="text" value="<%= data.credit_details.delay_days %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','delay_days') %></div>
        </div>
    </div>
    <div class="row bordered input <%= disableDelay %>">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Сумма</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" <%= disableDelay %> placeholder="500" id="qs-delay_amount" class="text" value="<%= data.credit_details.delay_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','delay_amount') %></div>
        </div>
    </div>

    <h4 class="row groupline">Выплаченная сумма банку, включая проценты, на момент заполнения анкеты</h4>

    <div class="row bordered input">
        <div class="desc col-xs-6 col-sm-3 col-lg-3">Выплаченная сумма банку</div>
        <div class="col-xs-12 col-sm-9 col-lg-9">
            <input type="number" placeholder="700" id="qs-paid_to_bank_amount" class="text" value="<%= data.credit_details.paid_to_bank_amount %>" min="0" >
            <div class="comment"><%= data.showError('credit_details','paid_to_bank_amount') %></div>
        </div>
    </div>

</div>