<h3>Попытки урегулирования</h3>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-resolution_attempts-h-no_action" <% if (data.resolution_attempts.no_action == 1) { %>checked<% } %>> Не Предпринимались
            </label>
            <%= data.showError('resolution_attempts','no_action') %>
        </div>
    </legend>

    <div id="block-resolution_attempts-no_action">
        <h3>Отсутствует</h3>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-resolution_attempts-h-restructuring" <% if (data.resolution_attempts.restructuring == 1) { %>checked<% } %>> Реструктуризация
            </label>
            <%= data.showError('resolution_attempts','restructuring') %>
        </div>
    </legend>

    <div id="block-resolution_attempts-restructuring">

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs5-resolution_attempts-restructuring1">Реструктуризация</label>
                    <select id="qs5-resolution_attempts-restructuring1" class="form-control">
                        <option value="1" <% if (data.resolution_attempts.restructuring_happened == 1) { %>selected<% } %>>Проведена</option>
                        <option value="2" <% if (data.resolution_attempts.restructuring_happened == 2) { %>selected<% } %>>Не проведена</option>
                    </select>
                    <%= data.showError('resolution_attempts','restructuring_happened') %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs5-resolution_attempts-restructuring2">Дата реструктуризации</label>
                    <input type="text" class="form-control" value="<%= data.resolution_attempts.restructuring_date %>" id="qs5-resolution_attempts-restructuring2" placeholder="Дата реструктуризация">
                    <%= data.showError('resolution_attempts','restructuring_date') %>
                </div>
            </div>
        </div>

        <div id="block-resolution_attempts-no_restructuring_happened">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <select  id="qs5-resolution_attempts-restructuring3" class="form-control">
                            <option value="1" <% if (data.resolution_attempts.restructuring_conditions == 1) { %>selected<% } %>>Отказано банком</option>
                            <option value="2" <% if (data.resolution_attempts.restructuring_conditions == 2) { %>selected<% } %>>Не подходящее для Вас условия</option>
                        </select>
                        <%= data.showError('resolution_attempts','restructuring_conditions') %>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-restructuring4">Какие условия предлагались?</label>
                        <textarea id="qs5-resolution_attempts-restructuring4" class="form-control" placeholder="Какие условия предлагались?"><%= data.resolution_attempts.restructuring_condition_details %></textarea>
                        <%= data.showError('resolution_attempts','restructuring_condition_details') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-resolution_attempts-h-discount" <% if (data.resolution_attempts
                .discount == 1) { %>checked<% } %>> Погашение кредита с дисконтом
            </label>
            <%= data.showError('resolution_attempts','discount') %>
        </div>
    </legend>

    <div id="block-resolution_attempts-discount">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select  id="qs5-resolution_attempts-discount1" class="form-control">
                        <option value="1" <% if (data.resolution_attempts.discount_conditions == 1) { %>selected<% } %>>Нет</option>
                        <option value="2" <% if (data.resolution_attempts.discount_conditions == 2) { %>selected<% } %>>Предлагал банк</option>
                        <option value="3" <% if (data.resolution_attempts.discount_conditions == 3) { %>selected<% } %>>Предлагали Вы</option>
                    </select>
                    <%= data.showError('resolution_attempts','discount_conditions') %>
                </div>
            </div>
        </div>

        <div id="block-resolution_attempts-discount_by_bank">
            <div class="row">
                <div class="col-md-4">
                    <h5>Предлагал банк</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-discount2">Сумма</label>
                        <input type="number" min="0" class="form-control" value="<%= data.resolution_attempts.discount_amount_by_bank %>" id="qs5-resolution_attempts-discount2" placeholder="Сумма">
                        <%= data.showError('resolution_attempts','discount_amount_by_bank') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-discount3">Дата предложения</label>
                        <input type="text" class="form-control" value="<%= data.resolution_attempts.discount_date_by_bank %>" id="qs5-resolution_attempts-discount3" placeholder="Дата предложения">
                        <%= data.showError('resolution_attempts','discount_date_by_bank') %>
                    </div>
                </div>
            </div>
        </div>

        <div id="block-resolution_attempts-discount_by_you">
            <div class="row">
                <div class="col-md-4">
                    <h5>Предлагали Вы</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-discount4">Сумма</label>
                        <input type="number" min="0" class="form-control" value="<%= data.resolution_attempts.discount_amount_by_you %>" id="qs5-resolution_attempts-discount4" placeholder="Сумма">
                        <%= data.showError('resolution_attempts','discount_amount_by_you') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-discount5">Дата предложения</label>
                        <input type="text" class="form-control" value="<%= data.resolution_attempts.discount_date_by_you %>" id="qs5-resolution_attempts-discount5" placeholder="Дата предложения">
                        <%= data.showError('resolution_attempts','discount_date_by_you') %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-resolution_attempts-h-foreclosure_sale" <% if (data.resolution_attempts.foreclosure_sale == 1) { %>checked<% } %>> Продажа залогового имущества
            </label>
            <%= data.showError('resolution_attempts','foreclosure_sale') %>
        </div>
    </legend>

    <div id="block-resolution_attempts-foreclosure_sale">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <select  id="qs5-resolution_attempts-foreclosure_sale1" class="form-control">
                        <option value="1" <% if (data.resolution_attempts.foreclosure_sale_conditions == 1) { %>selected<% } %>>Нет</option>
                        <option value="2" <% if (data.resolution_attempts.foreclosure_sale_conditions == 2) { %>selected<% } %>>Предлагал банк</option>
                        <option value="3" <% if (data.resolution_attempts.foreclosure_sale_conditions == 3) { %>selected<% } %>>Предлагали Вы</option>
                    </select>
                    <%= data.showError('resolution_attempts','foreclosure_sale_conditions') %>
                </div>
            </div>
        </div>

        <div id="block-resolution_attempts-foreclosure_sale_by_bank">
            <div class="row">
                <div class="col-md-4">
                    <h5>Предлагал банк</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-foreclosure_sale2">Дата предложения</label>
                        <input type="text" class="form-control" value="<%= data.resolution_attempts.foreclosure_sale_date_by_bank %>" id="qs5-resolution_attempts-foreclosure_sale2" placeholder="Дата предложения">
                        <%= data.showError('resolution_attempts','foreclosure_sale_date_by_bank') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-foreclosure_sale3">Банк списывает остаток долга после продажи?</label>
                        <select  id="qs5-resolution_attempts-foreclosure_sale3" class="form-control">
                            <option value="1" <% if (data.resolution_attempts.foreclosure_sale_bank_dept_conditions == 1) { %>selected<% } %>>Да</option>
                            <option value="2" <% if (data.resolution_attempts.foreclosure_sale_bank_dept_conditions == 2) { %>selected<% } %>>Нет</option>
                            <option value="3" <% if (data.resolution_attempts.foreclosure_sale_bank_dept_conditions == 3) { %>selected<% } %>>Не знаю</option>
                        </select>
                        <%= data.showError('resolution_attempts','foreclosure_sale_bank_dept_conditions') %>
                    </div>
                </div>
            </div>
        </div>

        <div id="block-resolution_attempts-foreclosure_sale_by_you">
            <div class="row">
                <div class="col-md-4">
                    <h5>Предлагали Вы</h5>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-foreclosure_sale4">Дата предложения</label>
                        <input type="text" class="form-control" value="<%= data.resolution_attempts.foreclosure_sale_date_by_you %>" id="qs5-resolution_attempts-foreclosure_sale4" placeholder="Дата предложения">
                        <%= data.showError('resolution_attempts','foreclosure_sale_date_by_you') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs5-resolution_attempts-foreclosure_sale5">Банк списывает остаток долга после продажи?</label>
                        <select  id="qs5-resolution_attempts-foreclosure_sale5" class="form-control">
                            <option value="1" <% if (data.resolution_attempts.foreclosure_sale_you_dept_conditions == 1) { %>selected<% } %>>Да</option>
                            <option value="2" <% if (data.resolution_attempts.foreclosure_sale_you_dept_conditions == 2) { %>selected<% } %>>Нет</option>
                            <option value="3" <% if (data.resolution_attempts.foreclosure_sale_you_dept_conditions == 3) { %>selected<% } %>>Не знаю</option>
                        </select>
                        <%= data.showError('resolution_attempts','foreclosure_sale_you_dept_conditions') %>
                    </div>
                </div>
            </div>
        </div>
    </div>

</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs5-resolution_attempts-h-voluntary_property_transfer" <% if (data.resolution_attempts.voluntary_property_transfer == 1) { %>checked<% } %>> Добровольная передача имущества в счет погашения обязательств
            </label>
            <%= data.showError('resolution_attempts','voluntary_property_transfer') %>
        </div>
    </legend>

    <div id="block-resolution_attempts-voluntary_property_transfer">
        <h5>Добровольная передача имущества в счет погашения обязательств</h5>
    </div>

</fieldset>