<fieldset>
    <legend>Финансовое состояние</legend>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label for="qs7-income_type">Вы имеете постоянный доход?</label>
                <select id="qs7-income_type" class="form-control">
                    <option value="1" <% if (data.financial_data.regular_income == 1) { %>selected<% } %>>Работа по найму</option>
                    <option value="2" <% if (data.financial_data.regular_income == 2) { %>selected<% } %>>Бизнесс или предприниматель</option>
                    <option value="3" <% if (data.financial_data.regular_income == 3) { %>selected<% } %>>Пенсия</option>
                    <option value="4" <% if (data.financial_data.regular_income == 4) { %>selected<% } %>>Не имею</option>
                </select>
                <%= data.showError('financial_data','regular_income') %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="qs7-income_medium">Среднемесячный доход</label>
                <input id="qs7-income_medium" value="<%= data.financial_data.avg_monthly_income %>" class="form-control" type="text" >
                <%= data.showError('financial_data','avg_monthly_income') %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="qs7-income_warr_medium">Среднемесячный доход поручителя</label>
                <input id="qs7-income_warr_medium" value="<%= data.financial_data.guarantor_avg_monthly_income %>" class="form-control" type="text" />
                <%= data.showError('financial_data','guarantor_avg_monthly_income') %>
            </div>
        </div>
    </div>
    <legend>Есть ли в семье содержанцы? (Необходимость дополнительных расходов)</legend>
    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <h4>Дети до 18 лет</h4>
                <div class="checkbox">
                    <label>
                        <input id="qs7-income_data_kids" type="checkbox" value="" <% if (data.financial_data.has_children == 1) { %>checked<% } %>>
                        Дети до 18 лет
                    </label>
                    <%= data.showError('financial_data','has_children') %>
                </div>

                <div id="block-has_children">
                    <label for="qs7-income_kids_ages">Возраст детей, через запятую</label>
                    <input id="qs7-income_kids_ages" class="form-control" type="text" value="<%= data.financial_data.children_age %>" />
                    <%= data.showError('financial_data','children_age') %>

                    <div class="checkbox">
                        <label>
                            <input id="qs7-children_additional_expenses" type="checkbox" <% if (data.financial_data.children_additional_expenses == 1) { %>checked<% } %>>
                            Необходимость дополнительных расходов
                        </label>
                        <%= data.showError('financial_data','children_additional_expenses') %>
                    </div>

                    <div id="block-children-additional_expenses">
                        <div class="checkbox">
                            <label>
                                <input id="qs7-income_data_kids_edu" type="checkbox" <% if (data.financial_data.children_additional_expenses_studies == 1) { %>checked<% } %>>
                                Учеба
                            </label>
                            <%= data.showError('financial_data','children_additional_expenses_studies') %>
                        </div>
                        <div id="block-children_school">
                            <label for="qs7-school_monthly_expenses">Ежемесячная сумма</label>
                            <input type="text" class="form-control" id="qs7-school_monthly_expenses" value="<%= data.financial_data.school_monthly_expenses %>" />
                            <%= data.showError('financial_data','school_monthly_expenses') %>
                        </div>

                        <div class="checkbox">
                            <label>
                                <input id="qs7-income_data_kids_treatm" type="checkbox" <% if (data.financial_data.children_additional_expenses_treatment == 1) { %>checked<% } %>>
                                Лечение
                            </label>
                            <%= data.showError('financial_data','children_additional_expenses_treatment') %>
                        </div>
                        <div id="block-children_treatment">
                            <label for="qs7-hospital_monthly_expenses">Ежемесячная сумма</label>
                            <input type="text" class="form-control" id="qs7-hospital_monthly_expenses" value="<%= data.financial_data.hospital_monthly_expenses %>" />
                            <%= data.showError('financial_data','hospital_monthly_expenses') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h4>Воины или ветераны АТО</h4>
                <div class="checkbox">
                    <label>
                        <input id="qs7-income_data_ato" type="checkbox" value="" <% if (data.financial_data.has_military == 1) { %>checked<% } %>>
                        Воины или ветераны АТО
                    </label>
                    <%= data.showError('financial_data','has_military') %>
                </div>

                <div id="block-has_military">

                    <div class="checkbox">
                        <label>
                            <input id="qs7-military_additional_expenses" type="checkbox" <% if (data.financial_data.military_additional_expenses == 1) { %>checked<% } %>>
                            Необходимость дополнительных расходов
                        </label>
                        <%= data.showError('financial_data','military_additional_expenses') %>
                    </div>

                    <div id="block-military-additional_expenses">
                        <label for="qs7-income_data_ato_sum">Ежемесячная сумма</label>
                        <input type="text" class="form-control" id="qs7-income_data_ato_sum" value="<%= data.financial_data.military_monthly_amount %>" />
                        <%= data.showError('financial_data','military_monthly_amount') %>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h4>Родители, пенсионеры</h4>
                <div class="checkbox">
                    <label>
                        <input id="qs7-income_data_parents" type="checkbox" value="" <% if (data.financial_data.has_family == 1) { %>checked<% } %>>
                        Родители, пенсионеры
                    </label>
                    <%= data.showError('financial_data','has_family') %>
                </div>

                <div id="block-has_family">
                    <label for="qs7-family_age">Возраст детей, через запятую</label>
                    <input id="qs7-family_age" class="form-control" type="text" value="<%= data.financial_data.family_age %>" />
                    <%= data.showError('financial_data','family_age') %>

                    <div class="checkbox">
                        <label>
                            <input id="qs7-family_additional_expenses" type="checkbox" <% if (data.financial_data.family_additional_expenses == 1) { %>checked<% } %>>
                            Необходимость дополнительных расходов
                        </label>
                        <%= data.showError('financial_data','family_additional_expenses') %>
                    </div>

                    <div id="block-family-additional_expenses">
                        <div class="checkbox">
                            <label>
                                <input id="qs7-family_additional_expenses-treatment" type="checkbox" <% if (data.financial_data.family_additional_expenses_treatment == 1) { %>checked<% } %>>
                                Уход и лечение
                            </label>
                            <%= data.showError('financial_data','family_additional_expenses_treatment') %>
                        </div>
                        <div id="block-family_treatment">
                            <label for="qs7-income_data_parents_sum">Ежемесячная сумма</label>
                            <input type="text" class="form-control" id="qs7-income_data_parents_sum" value="<%= data.financial_data.family_monthly_amount %>" />
                            <%= data.showError('financial_data','family_monthly_amount') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <h4>Больные и другие варианты</h4>
                <div class="checkbox">
                    <label>
                        <input id="qs7-income_data_other" type="checkbox" value="" <% if (data.financial_data.has_sick_perps == 1) { %>checked<% } %>>
                        Больные и другие варианты
                    </label>
                    <%= data.showError('financial_data','has_sick_perps') %>
                </div>

                <div id="block-has_sick_perps">
                    <label for="qs7-income_data_other_ages">Возраст, через запятую</label>
                    <input type="text" class="form-control" id="qs7-income_data_other_ages" value="<%= data.financial_data.sick_perps_age %>" />
                    <%= data.showError('financial_data','sick_perps_age') %>

                    <div class="checkbox">
                        <label>
                            <input id="qs7-sick_perps_additional_expenses" type="checkbox" <% if (data.financial_data.sick_perps_additional_expenses == 1) { %>checked<% } %>>
                            Необходимость дополнительных расходов
                        </label>
                        <%= data.showError('financial_data','sick_perps_additional_expenses') %>
                    </div>

                    <div id="block-sick_perps-additional_expenses">
                        <div class="checkbox">
                            <label>
                                <input id="qs7-sick_perps_additional_expenses-treatment" type="checkbox" <% if (data.financial_data.sick_perps_additional_expenses_treatment == 1) { %>checked<% } %>>
                                Уход и лечение
                            </label>
                            <%= data.showError('financial_data','sick_perps_additional_expenses_treatment') %>
                        </div>
                        <div id="block-sick_perps_treatment">
                            <label for="qs7-income_data_other_sum">Ежемесячная сумма</label>
                            <input type="text" class="form-control" id="qs7-income_data_other_sum" value="<%= data.financial_data.sick_perps_monthly_amount %>" />
                            <%= data.showError('financial_data','sick_perps_monthly_amount') %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs7-credit_at_different_bank" <% if (data.financial_data.credit_at_different_bank == 1) { %>checked<% } %>> Есть кредиты в других банках?
            </label>
            <%= data.showError('financial_data','sick_perps_monthly_amount') %>
        </div>
    </legend>

    <div id="block-credit_at_different_bank">
        <h3>Сумма задолженности?</h3>

        <div class="row">
            <div class="col-md-4">
                <label for="qs7-credit_at_different_bank-monthly_pay">Ежемесячный платеж (в грн.)</label>
                <input type="number" min="0" class="form-control" id="qs7-credit_at_different_bank-monthly_pay" value="<%= data.financial_data.credit_at_different_bank_monthly_pay %>" />
                <%= data.showError('financial_data','credit_at_different_bank_monthly_pay') %>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label for="qs7-credit_at_different_bank-status">Кредит проблемный?</label>
                    <select  id="qs7-credit_at_different_bank-status" class="form-control">
                        <option value="1" <% if (data.financial_data.credit_at_different_bank_status == 1) { %>selected<% } %>>ДА (НЕ обслуживаю, или ЧАСТИЧНО обслуживаю)</option>
                        <option value="2" <% if (data.financial_data.credit_at_different_bank_status == 2) { %>selected<% } %>>НЕТ (обслуживаю)</option>
                    </select>
                    <%= data.showError('financial_data','credit_at_different_bank_status') %>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs7-personal_expenses" <% if (data.financial_data.personal_expenses == 1) { %>checked<% } %>> У Вас лично есть необходимость БЕЗУСЛОВНЫХ дополнительных расходов?
            </label>
            <%= data.showError('financial_data','personal_expenses') %>
        </div>
    </legend>

    <div id="block-personal_expenses">
        <h3>Необходимая сумма</h3>

        <div class="row">
            <div class="col-md-4">
                <label>
                    <input id="qs7-personal_expenses-treatment" type="checkbox" <% if (data.financial_data.personal_expenses_treatment == 1) { %>checked<% } %>>
                    Уход и лечение
                </label>
                <%= data.showError('financial_data','personal_expenses_treatment') %>
            </div>
            <div class="col-md-8">
                <div id="block-personal_expenses-treatment_cost">
                    <label for="qs7-personal_expenses-treatment_cost">Ежемесячная сумма</label>
                    <input type="text" class="form-control" id="qs7-personal_expenses-treatment_cost" value="<%= data.financial_data.personal_expenses_treatment_cost %>" />
                    <%= data.showError('financial_data','personal_expenses_treatment_cost') %>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <legend>
        <div class="checkbox">
            <label>
                <input type="checkbox" id="qs7-other_properties" <% if (data.financial_data.other_properties == 1) { %>checked<% } %>> Наличие другого имущества?
            </label>
            <%= data.showError('financial_data','other_properties') %>
        </div>
    </legend>

    <div id="block-other_properties">
        <div class="row">
            <div class="col-md-6">
                <label>
                    <input id="qs7-other_properties-estate" type="checkbox" <% if (data.financial_data.other_properties_estate == 1) { %>checked<% } %>>
                    Недвижимость
                </label>
                <%= data.showError('financial_data','other_properties_estate') %>
            </div>
            <div class="col-md-6">
                <div id="block-other_properties-estate">
                    <label>
                        <input id="qs7-other_properties-estate_in_pledge" type="checkbox" <% if (data.financial_data.other_properties_estate_in_pledge == 1) { %>checked<% } %>>
                        Заложена?
                    </label>
                    <%= data.showError('financial_data','other_properties_estate_in_pledge') %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>
                    <input id="qs7-other_properties-vehicle" type="checkbox" <% if (data.financial_data.other_properties_vehicle == 1) { %>checked<% } %>>
                    Автомобиль
                </label>
                <%= data.showError('financial_data','other_properties_vehicle') %>
            </div>
            <div class="col-md-6">
                <div id="block-other_properties-vehicle">
                    <label>
                        <input id="qs7-other_properties-vehicle_in_pledge" type="checkbox" <% if (data.financial_data.other_properties_vehicle_in_pledge == 1) { %>checked<% } %>>
                        Заложен?
                    </label>
                    <%= data.showError('financial_data','other_properties_vehicle_in_pledge') %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label>
                    <input id="qs7-other_properties-other" type="checkbox" <% if (data.financial_data.other_properties_other == 1) { %>checked<% } %>>
                    Другое
                </label>
                <%= data.showError('financial_data','other_properties_other') %>
            </div>
            <div class="col-md-6">
                <div id="block-other_properties-other">
                    <label>
                        <input id="qs7-other_properties-other_in_pledge" type="checkbox" <% if (data.financial_data.other_properties_other_in_pledge == 1) { %>checked<% } %>>
                        Заложено?
                    </label>
                    <%= data.showError('financial_data','other_properties_other_in_pledge') %>
                </div>
            </div>
        </div>
    </div>
</fieldset>