<fieldset>
    <legend>Взыскание</legend>


    <div class="row">
        <div class="col-md-3">
            <div class="form-group">
                <label for="qs6-city">Город</label>
                <input type="text" class="form-control" id="qs6-city" placeholder="Город" value="<%= data.penalty.city %>">
                <%= data.showError('penalty','city') %>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label for="qs6-creditor">Кто взыскатель?</label>
                <select  id="qs6-creditor" class="form-control">
                    <option value="1" <% if (data.penalty.creditor_type == 1) { %>selected<% } %>>Банк</option>
                    <option value="2" <% if (data.penalty.creditor_type == 2) { %>selected<% } %>>Компания от имени банка</option>
                    <option value="3" <% if (data.penalty.creditor_type == 3) { %>selected<% } %>>Коллектор или фактор</option>
                    <option value="4" <% if (data.penalty.creditor_type == 4) { %>selected<% } %>>Фонд гарантирования вкладов от имени банка</option>
                </select>
                <%= data.showError('penalty','creditor_type') %>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="qs6-creditor-name">Название организации</label>
                <input type="text" class="form-control" id="qs6-creditor-name" placeholder="Название" value="<%= data.penalty.creditor_name %>">
                <%= data.showError('penalty','creditor_name') %>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="qs6-stage">Стадия взыскания</label>
        <select  id="qs6-stage" class="form-control">
            <option value="1" <% if (data.penalty.stage == 1) { %>selected<% } %>>Взыскание внесудебное / досудебное</option>
            <option value="2" <% if (data.penalty.stage == 2) { %>selected<% } %>>Взыскание судебное</option>
            <option value="3" <% if (data.penalty.stage == 3) { %>selected<% } %>>Взыскание послесудебное (ГИС)</option>
        </select>
        <%= data.showError('penalty','stage') %>
    </div>
</fieldset>

<fieldset id="qs6-stage-1-set">
    <legend>Взыскание внесудебное / досудебное</legend>

    <div class="checkbox">
      <label>
        <input type="checkbox" id="qs6-stage1-a" <% if (data.penalty.stage1_calls == 1) { %>checked<% } %>>
        Звонки банка / коллекторов
      </label>
      <%= data.showError('penalty','stage1_calls') %>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" id="qs6-stage1-b" <% if (data.penalty.stage1_mails == 1) { %>checked<% } %>>
        Письма / Досудебные требования
      </label>
      <%= data.showError('penalty','stage1_mails') %>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" id="qs6-stage1-c" <% if (data.penalty.satge1_visits == 1) { %>checked<% } %>>
        Визиты представителей банка / Коллекторов
      </label>
      <%= data.showError('penalty','satge1_visits') %>
    </div>

    <div class="checkbox">
      <label>
        <input type="checkbox" id="qs6-stage1-d" <% if (data.penalty.stage1_else == 1) { %>checked<% } %>>
        Другое
      </label>
      <%= data.showError('penalty','stage1_else') %>
    </div>

    <div class="form-group">
        <label for="qs6-stage1-d2">Опишите</label>
        <textarea id="qs6-stage1-d2" rows="4" class="form-control"><%= data.penalty.stage1_else_details %></textarea>
        <%= data.showError('penalty','stage1_else_details') %>
    </div>
</fieldset>

<fieldset id="qs6-stage-2-set">
    <legend>Взыскание судебное</legend>


    <fieldset>
        <legend>Участие в суде</legend>

        <div class="form-group">
            <label for="qs6-stage2-a">Я учавствую в суде</label>
            <select  id="qs6-stage2-a" class="form-control">
                <option value="1" <% if (data.penalty.stage2_participation == 1) { %>selected<% } %>>Лично</option>
                <option value="2" <% if (data.penalty.stage2_participation == 2) { %>selected<% } %>>Через представителя / адвоката</option>
                <option value="3" <% if (data.penalty.stage2_participation == 3) { %>selected<% } %>>Игнорирую</option>
            </select>
            <%= data.showError('penalty','stage2_participation') %>
        </div>

        <div id="qs6-stage2-a2">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs6-stage2-b">ФИО представителя</label>
                        <input type="text" class="form-control" id="qs6-stage2-b" placeholder="ФИО" value="<%= data.penalty.stage2_fio %>">
                        <%= data.showError('penalty','stage2_fio') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs6-stage2-c">Контактный телефон</label>
                        <input type="text" class="form-control" id="qs6-stage2-c" placeholder="Телефон" value="<%= data.penalty.stage2_phone %>">
                        <%= data.showError('penalty','stage2_phone') %>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label for="qs6-stage2-d">E-mail</label>
                        <input type="email" class="form-control" id="qs6-stage2-d" placeholder="E-mail" value="<%= data.penalty.stage2_email %>">
                        <%= data.showError('penalty','stage2_email') %>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="qs6-stage2-e">Другие контактные данные</label>
                        <textarea id="qs6-stage2-e" rows="4" class="form-control"><%= data.penalty.stage2_else %></textarea>
                        <%= data.showError('penalty','stage2_else') %>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Тип иска</legend>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="" id="qs6-stage2-f" <% if (data.penalty.stage2_type1 == 1) { %>checked<% } %>>
            Взыскание суммы задолженности
          </label>
          <%= data.showError('penalty','stage2_type1') %>
        </div>

        <div class="form-group">
            <label for="qs6-stage2-f1">Сумма, согласно иска</label>
            <input type="number" class="form-control" id="qs6-stage2-f1" placeholder="Сумма" value="<%= data.penalty.stage2_type1_amount %>">
            <%= data.showError('penalty','stage2_type1_amount') %>
        </div>

        <div class="checkbox">
          <label>
            <input type="checkbox" value="" id="qs6-stage2-f2" <% if (data.penalty.stage2_type2 == 1) { %>checked<% } %>>
            Взыскание залога / ипотеки
          </label>
          <%= data.showError('penalty','stage2_type2') %>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="" id="qs6-stage2-f3" <% if (data.penalty.stage2_type3 == 1) { %>checked<% } %>>
            Путем принятия кредитором залога/ипотеки в собственность
          </label>
          <%= data.showError('penalty','stage2_type3') %>
        </div>
        <div class="checkbox">
          <label>
            <input type="checkbox" value="" id="qs6-stage2-f4" <% if (data.penalty.stage2_type4 == 1) { %>checked<% } %>>
            Путем получения кредитором права продажи залога/ипотеки
          </label>
          <%= data.showError('penalty','stage2_type4') %>
        </div>
    </fieldset>

    <fieldset>
        <legend>Суд</legend>

        <div class="form-group">
            <label for="qs6-stage2-g">Наименование суда</label>
            <select  id="qs6-stage2-g" class="form-control">
                <option value="1" <% if (data.penalty.stage2_court_type == 1) { %>selected<% } %>>Название суда 1ой инстанции</option>
                <option value="2" <% if (data.penalty.stage2_court_type == 2) { %>selected<% } %>>Апелляционная инстанция</option>
            </select>
            <%= data.showError('penalty','stage2_court_type') %>
        </div>

        <div id="qs6-stage2-g-set">

            <div class="form-group">
                <label for="qs6-stage2-g1">ФИО судьи</label>
                <input type="text" class="form-control" id="qs6-stage2-g1" placeholder="ФИО" value="<%= data.penalty.stage2_court_fio %>">
                <%= data.showError('penalty','stage2_court_fio') %>
            </div>

            <div class="form-group">
                <label for="qs6-stage2-g2">Стадия судебного производства</label>
                <select  id="qs6-stage2-g2" class="form-control">
                    <option value="1" <% if (data.penalty.stage2_court_stage == 1) { %>selected<% } %>>Назначено первое заседание</option>
                    <option value="2" <% if (data.penalty.stage2_court_stage == 2) { %>selected<% } %>>Судебное рассмотрение дела</option>
                    <option value="3" <% if (data.penalty.stage2_court_stage == 3) { %>selected<% } %>>Вынесено судебное решение</option>
                </select>
                <%= data.showError('penalty','stage2_court_stage') %>
            </div>

            <div id="qs6-stage2-g2-set2" style="display: none;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs6-stage2-g2-set2-a">Сколько заседаний прошло?</label>
                            <input type="number" class="form-control" id="qs6-stage2-g2-set2-a" placeholder="Количество" value="<%= data.penalty.stage2_court_stage2_amount1 %>">
                            <%= data.showError('penalty','stage2_court_stage2_amount1') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs6-stage2-g2-set2-b">Сколько заседаний перенесено?</label>
                            <input type="number" class="form-control" id="qs6-stage2-g2-set2-b" placeholder="Количество" value="<%= data.penalty.stage2_court_stage2_amount2 %>">
                            <%= data.showError('penalty','stage2_court_stage2_amount2') %>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="qs6-stage2-g2-set2-c">Когда следующее заседание?</label>
                            <input type="text" class="form-control" id="qs6-stage2-g2-set2-c" placeholder="Дата" value="<%= data.penalty.stage2_court_stage2_date %>">
                            <%= data.showError('penalty','stage2_court_stage2_date') %>
                        </div>
                    </div>
                </div>
            </div>
            <div id="qs6-stage2-g2-set3" style="display: none;">
                <div class="form-group">
                    <label for="qs6-stage2-g2-set3-a">Исполнительный лист выдан?</label>
                    <select  id="qs6-stage2-g2-set3-a" class="form-control">
                        <option value="1" <% if (data.penalty.stage2_court_stage3_state == 1) { %>selected<% } %>>Нет или Не знаю</option>
                        <option value="2" <% if (data.penalty.stage2_court_stage3_state == 2) { %>selected<% } %>>Да</option>
                    </select>
                    <%= data.showError('penalty','stage2_court_stage3_state') %>
                </div>

                <div id="qs6-stage2-g2-set3-b">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="qs6-stage2-g2-set3-b1">Дата выдачи</label>
                                <input type="text" class="form-control" id="qs6-stage2-g2-set3-b1" placeholder="Дата" value="<%= data.penalty.stage2_court_stage3_date %>">
                                <%= data.showError('penalty','stage2_court_stage3_date') %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="qs6-stage2-g2-set3-b2">Сумма взыскания</label>
                                <input type="number" class="form-control" id="qs6-stage2-g2-set3-b2" placeholder="Сумма" value="<%= data.penalty.stage2_court_stage3_amount %>">
                                <%= data.showError('penalty','stage2_court_stage3_amount') %>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="qs6-stage2-g2-set3-b3">Тип взыскания</label>
                                <select  id="qs6-stage2-g2-set3-b3" class="form-control">
                                    <option value="1" <% if (data.penalty.stage2_court_stage3_type == 1) { %>selected<% } %>>Деньги за счет всего имущества </option>
                                    <option value="2" <% if (data.penalty.stage2_court_stage3_type == 2) { %>selected<% } %>>Принятие залога / ипотеки в собственность</option>
                                    <option value="3" <% if (data.penalty.stage2_court_stage3_type == 3) { %>selected<% } %>>Право продажи залога / ипотеки</option>
                                    <option value="4" <% if (data.penalty.stage2_court_stage3_type == 4) { %>selected<% } %>>Наличие решения о выселении</option>
                                </select>
                                <%= data.showError('penalty','stage2_court_stage3_type') %>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </fieldset>

    <fieldset>
        <legend>Аппеляционное обжалование </legend>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage2-h">Кто апеллянт?</label>
                    <select  id="qs6-stage2-h" class="form-control">
                        <option value="1" <% if (data.penalty.stage2_appeal_type == 1) { %>selected<% } %>>Должник</option>
                        <option value="2" <% if (data.penalty.stage2_appeal_type == 2) { %>selected<% } %>>Кредитор(банк)</option>
                        <option value="3" <% if (data.penalty.stage2_appeal_type == 3) { %>selected<% } %>>Третья сторона</option>
                    </select>
                    <%= data.showError('penalty','stage2_appeal_type') %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage2-i">Стадия обжалования: </label>
                    <select  id="qs6-stage2-i" class="form-control">
                        <option value="1" <% if (data.penalty.stage2_appeal_stage == 1) { %>selected<% } %>>Назначено первое засидание</option>
                        <option value="2" <% if (data.penalty.stage2_appeal_stage == 2) { %>selected<% } %>>Рассмотрение апелляционной жалобы</option>
                        <option value="3" <% if (data.penalty.stage2_appeal_stage == 3) { %>selected<% } %>>Вынесено судебное решение</option>
                    </select>
                    <%= data.showError('penalty','stage2_appeal_stage') %>
                </div>
            </div>
        </div>

        <div class="row" id="qs6-stage2-i2-set">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs6-stage2-i2-set-a">Сколько заседаний прошло?</label>
                    <input type="number" class="form-control" id="qs6-stage2-i2-set-a" placeholder="Количество" value="<%= data.penalty.stage2_appeal_stage2_amount1 %>">
                    <%= data.showError('penalty','stage2_appeal_stage2_amount1') %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs6-stage2-i2-set-b">Сколько заседаний перенесено?</label>
                    <input type="number" class="form-control" id="qs6-stage2-i2-set-b" placeholder="Количество" value="<%= data.penalty.stage2_appeal_stage2_amount2 %>">
                    <%= data.showError('penalty','stage2_appeal_stage2_amount2') %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    <label for="qs6-stage2-i2-set-c">Когда следующее заседание?</label>
                    <input type="text" class="form-control" id="qs6-stage2-i2-set-c" placeholder="Дата" value="<%= data.penalty.stage2_appeal_stage2_date %>">
                    <%= data.showError('penalty','stage2_appeal_stage2_date') %>
                </div>
            </div>
        </div>

    </fieldset>

    <fieldset>
        <legend>Касационное обжалование</legend>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage2-j">Касационное обжалование:</label>
                    <select  id="qs6-stage2-j" class="form-control">
                        <option value="1" <% if (data.penalty.stage2_cassation_type == 1) { %>selected<% } %>>Да</option>
                        <option value="2" <% if (data.penalty.stage2_cassation_type == 2) { %>selected<% } %>>Нет</option>
                    </select>
                    <%= data.showError('penalty','stage2_cassation_type') %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage2-k">Кто кассатор?</label>
                    <select  id="qs6-stage2-k" class="form-control">
                        <option value="1" <% if (data.penalty.stage2_cassation_type2 == 1) { %>selected<% } %>>Должник</option>
                        <option value="2" <% if (data.penalty.stage2_cassation_type2 == 2) { %>selected<% } %>>Кредитор(банк) </option>
                        <option value="3" <% if (data.penalty.stage2_cassation_type2 == 3) { %>selected<% } %>>Третья сторона</option>
                    </select>
                    <%= data.showError('penalty','stage2_cassation_type2') %>
                </div>
            </div>
        </div>
    </fieldset>

</fieldset>

<fieldset id="qs6-stage-3-set">
    <legend>Взыскание послесудебное (ГИС)</legend>

    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label for="qs6-stage3-a">Наименование ОГИС</label>
                <input type="text" class="form-control" id="qs6-stage3-a" placeholder="Наименование" value="<%= data.penalty.stage3_name %>">
                <%= data.showError('penalty','stage3_name') %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="qs6-stage3-b">ФИО госисполнителя</label>
                <input type="text" class="form-control" id="qs6-stage3-b" placeholder="ФИО" value="<%= data.penalty.stage3_fio %>">
                <%= data.showError('penalty','stage3_fio') %>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label for="qs6-stage3-c">Дата открытия</label>
                <input type="text" class="form-control" id="qs6-stage3-c" placeholder="Дата" value="<%= data.penalty.stage3_date %>">
                <%= data.showError('penalty','stage3_date') %>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group">
                <label for="qs6-stage3-d">Сумма взыскания</label>
                <input type="number" class="form-control" id="qs6-stage3-d" placeholder="Сумма" value="<%= data.penalty.stage3_amount %>">
                <%= data.showError('penalty','stage3_amount') %>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                    <label for="qs6-stage3-e">Стадия исполнительного производства?</label>
                    <select  id="qs6-stage3-e" class="form-control">
                        <option value="1" <% if (data.penalty.stage3_stage == 1) { %>selected<% } %>>Срок на добровольное исполнение судебного решения</option>
                        <option value="2" <% if (data.penalty.stage3_stage == 2) { %>selected<% } %>>Арест имущества</option>
                        <option value="3" <% if (data.penalty.stage3_stage == 3) { %>selected<% } %>>Опись имущества</option>
                        <option value="4" <% if (data.penalty.stage3_stage == 4) { %>selected<% } %>>Оценка имущества</option>
                        <option value="5" <% if (data.penalty.stage3_stage == 5) { %>selected<% } %>>Передача имущества на торги</option>
                        <option value="6" <% if (data.penalty.stage3_stage == 6) { %>selected<% } %>>Публичные торги</option>
                    </select>
                    <%= data.showError('penalty','stage3_stage') %>
                </div>
        </div>
    </div>

    <div id="qs6-stage3-e6-set">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage3-e6-set-a">Будет списан остаток долга?</label>
                    <select  id="qs6-stage3-e6-set-a" class="form-control">
                        <option value="1" <% if (data.penalty.stage3_writeoff == 1) { %>selected<% } %>>Да</option>
                        <option value="2" <% if (data.penalty.stage3_writeoff == 2) { %>selected<% } %>>Нет</option>
                    </select>
                    <%= data.showError('penalty','stage3_writeoff') %>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="qs6-stage3-e6-set-b">Очередность торгов</label>
                    <select  id="qs6-stage3-e6-set-b" class="form-control">
                        <option value="1" <% if (data.penalty.stage3_queue == 1) { %>selected<% } %>>Первые</option>
                        <option value="2" <% if (data.penalty.stage3_queue == 1) { %>selected<% } %>>Вторые</option>
                        <option value="3" <% if (data.penalty.stage3_queue == 1) { %>selected<% } %>>Третьи</option>
                    </select>
                    <%= data.showError('penalty','stage3_queue') %>
                </div>
            </div>
        </div>
    </div>

</fieldset>