{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Dashboard - index page{% endblock %}

{% block content %}

{% if activeCase.getBilled() %}
  <div class="row">
      <div class="col-md-6">
          <div class="panel  panel-primary">
            <div class="panel-heading">{{ activeCase.getTitle() }}</div>
            <div class="panel-body">
              {{ render(controller('DashboardBundle:Widgets:flow', {caseId: activeCase.getSafeId()})) }}
            </div>
          </div>
      </div>
      {% if is_granted('HAS_REMINDERS_ACCESS', activeCase) %}
        <div class="col-md-6">
              <div class="panel panel-primary">
                <div class="panel-heading">Reminders</div>
                <div class="panel-body">
                  {{ render(controller('DashboardBundle:Widgets:reminders', {caseId: activeCase.getSafeId()})) }}
                </div>
              </div>
          </div>
      {% endif %}
  </div>



{% else %}
<div class="row">
      <div class="col-md-6">
          <div class="panel  panel-danger">
            <div class="panel-heading">{{ activeCase.getTitle() }}</div>
            <div class="panel-body">
              {{ render(controller('DashboardBundle:Widgets:billing', {caseId: activeCase.getSafeId()})) }}
            </div>
          </div>
      </div>
</div>
{% endif %}


{% endblock %}
