{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Case - list page{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Платежи пользователей</h1>
</div>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="30%">Клиент</th>
                <th width="20%">Кейс</th>
                <th width="15%">Тариф</th>
                <th width="15%">Оплачено</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            {% for case in list %}
                <tr>
                    <td>
                        <a href="{{ url('assistant_users_view', {'userId': case.getUser().getId()}) }}">{{ case.getUser().getLastname() }} {{ case.getUser().getFirstname() }} {{ case.getUser().getPatronymic() }}</a>
                    </td>
                    <td>
                        <a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()}) }}">{{ case.getSafeId() }}</a>
                    </td>
                    <td>{{ case.getTariff() }}</td>
                    <td>
                        {% if case.getBilled()%}да{% else %}<b>нет</b>{% endif %}
                    </td>
                    <td>
                        {% if case.getLiqpayTransactions()|length %}
                            <a href="#"  class="show-payments" data-id=".payments-{{ case.getSafeId() }}">платежи</a>
                        {% else %}
                            <span><i>- нет платежей -</i></span>
                        {% endif %}
                    </td>
                </tr>
                {% if case.getLiqpayTransactions()|length %}
                    <tr class="payments-{{ case.getSafeId() }}" style="display: none;">
                        <td colspan="5">
                            <p>История платежей</p>
                            <ul>
                                {% for transaction in case.getUniqueLiqpayTransactions() %}
                                    <li>{{ transaction.getCreatedAt().format('d M Y в H:i') }} - <b>{{ transaction.getAmount() }} {{ transaction.getCurrency() }}</b> [{{ transaction.getStatus() }}]</li>
                                {% else %}
                                    <li><i>- нет информации -</i></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>

<h2>Дополнительные услуги</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="20%">Клиент</th>
                <th width="15%">Услуга</th>
                <th width="15%">Сума</th>
                <th width="15%">Название</th>
                <th width="15%">Оплачено</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            {% for service in listServices %}
                <tr>
                    <td>
                        {% if service.getUser() %}
                            <a href="{{ url('assistant_users_view', {'userId': service.getUser.getId()}) }}">{{ service.getUser().getLastname() }} {{ service.getUser().getFirstname() }} {{ service.getUser().getPatronymic() }}</a>
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        {{ service.getSafeId() }}
                    </td>
                    <td>{{ service.getAmount() }} грн.</td>
                    <td>{{  service.getTitle() }}</td>
                    <td>
                        {% if service.getBilled()%}да{% else %}<b>нет</b>{% endif %}
                    </td>
                    <td>
                        {% if service.getLiqpayTransactions()|length %}
                            <a href="#"  class="show-payments" data-id=".payments2-{{ service.getSafeId() }}" data-no-turbolink="true">платежи</a>
                        {% else %}
                            <span><i>- нет платежей -</i></span>
                        {% endif %}
                    </td>
                </tr>
                {% if service.getLiqpayTransactions()|length %}
                    <tr class="payments2-{{ service.getSafeId() }}" style="display: none;">
                        <td colspan="5">
                            <p>История платежей</p>
                            <ul>
                                {% for transaction in service.getUniqueLiqpayTransactions() %}
                                    <li>{{ transaction.getCreatedAt().format('d M Y в H:i') }} - <b>{{ transaction.getAmount() }} {{ transaction.getCurrency() }}</b> [{{ transaction.getStatus() }}]</li>
                                {% else %}
                                    <li><i>- нет информации -</i></li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}