{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Questionnaires - edit page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': questionnaire.getUser().getId()})}}">{{ questionnaire.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': questionnaire.getCase().getSafeId()})}}">{{ questionnaire.getCase().getSafeId() }}</a></li>
  <li><a href="{{ url('assistant_questionnaires_view', {'questionnaireId': questionnaire.getSafeId()})}}">{{ questionnaire.getSafeId() }}</a></li>
  <li class="active">Заполнение</li>
</ol>

<div class="page-header">
  <h1>Заполнение анкеты <small>{{ questionnaire.getSafeId() }}</small></h1>
</div>

<p id="qui-loading">Loading...</p>
<div id="questionnaire-container" q-data="{{ data | escape}}"></div>

{% endblock %}
