{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Questionnaires - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': questionnaire.getUser().getId()})}}">{{ questionnaire.getUser().getEmail() }}</a></li>
  <li><a href="{{ url('assistant_cases_view', {'caseId': questionnaire.getCase().getSafeId})}}">{{ questionnaire.getCase().getSafeId() }}</a></li>
  <li class="active">{{ questionnaire.getSafeId() }}</li>
</ol>

<div class="page-header">
  <h1>Анкета <small>{{ questionnaire.getSafeId() }}</small></h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th width="20%">Id:</th>
            <td>{{ questionnaire.getSafeId() }}</td>
        </tr>
        <tr>
            <th>Статус:</th>
            <td>
                {% if questionnaire.getStatus() == 1 %}
                    Начат
                {% elseif questionnaire.getStatus() ==2 %}
                    Закончен
                {% endif %}
            </td>
        </tr>
    </table>
</div>

<p>
    <a href="{{ url('assistant_questionnaires_edit', {'questionnaireId': questionnaire.getSafeId()}) }}" class="btn btn-primary">Заполнить  анкету</a>
</p>


<div class="row">
{% for sectionName, sectionData in questionnaireData %}
    {% if sectionData | length > 0 %}
        {% set sectionSchema = schema[sectionName] %}
        <div class="col-sm-12">
            <h2>{{ "qentities.#{sectionName}.name" | trans({}, 'questionnaire')  }}</h2>
        </div>
        <div class="col-sm-12">
            <table class="table table-bordered table-hover table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th></th>
                        <th>Влияние на стратегию</th>
                    </tr>
                </thead>
                <tbody>
                    {% for valKey, value in sectionData %}
                        <tr>
                            <td width="50%">
                                <b>
                                    {% if sectionSchema[valKey] is defined  %}
                                        {{ "qschema.#{sectionName}.#{valKey}" | trans({}, "assistant") }}
                                    {% endif %}</b>
                            </td>
                            <td width="30%">
                                <i>
                                {% if sectionSchema[valKey].values[value] is not defined %}
                                    {{ value }}
                                {% else %}
                                    {{ sectionSchema[valKey].values[value] }}
                                {% endif %}
                                </i>
                            </td>
                            <td>
                                {% if results.separate[sectionName][valKey] is defined %}
                                    {{ results.separate[sectionName][valKey].0 }}
                                    {{ results.separate[sectionName][valKey].1 }}
                                    {{ results.separate[sectionName][valKey].2 }}
                                    {{ results.separate[sectionName][valKey].3 }}
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       {% endif %}
    {% endfor %}
</div>

<hr>

<div class="row">
    <div class="col-sm-6">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th width="60%">Реструктуризация:</th>
                <td>{{ results.total[0] }}</td>
            </tr>
            <tr>
                <th>Выкуп с дисконтом:</th>
                <td>{{ results.total[1] }}</td>
            </tr>
            <tr>
                <th>Продажа залога:</th>
                <td>{{ results.total[2] }}</td>
            </tr>
            <tr>
                <th>Банкротство:</th>
                <td>{{ results.total[3] }}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <h3>Особенности:</h3>
        <table class="table table-bordered table-hover table-striped">
            {% for special in specialRecommendations %}
                <tr>
                    <td>{{ special }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}
