{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Strategy - index page{% endblock %}

{% block content %}

{% if case.getCustomStrategy() %}
    <div class="row">
        <div class="col-sm-12">
            <h4>Стратегия ассистента:</h4>
            <p>
                {{ case.getCustomStrategy() }}
            </p>
        </div>
    </div>
{% endif %}

{% if case.getTariff() == 'standard' %}
    <div class="row">
        <div class="col-sm-12">
            <h3>{{ "strategy.#{recommended_strategy}" | trans({}, 'StrategyBundle') }}</h3>
            Далеко-далеко за словесными горами в стране гласных и согласных живут рыбные тексты. Вдали от всех живут они в буквенных домах на берегу Семантика большого языкового океана. Маленький ручеек Даль журчит по всей стране и обеспечивает ее всеми необходимыми правилами. Эта парадигматическая страна, в которой жаренные члены предложения залетают прямо в рот. Даже всемогущая пунктуация не имеет власти над рыбными текстами, ведущими безорфографичный образ жизни. Однажды одна маленькая строчка рыбного текста по имени Lorem ipsum решила выйти в большой мир грамматики. Великий Оксмокс предупреждал ее о злых запятых, диких знаках вопроса и коварных точках с запятой, но текст не дал сбить себя с толку. Он собрал семь своих заглавных букв, подпоясал инициал за пояс и пустился в дорогу. Взобравшись на первую вершину курсивных гор, бросил он последний взгляд назад, на силуэт своего родного города Буквоград, на заголовок деревни Алфавит и на подзаголовок своего переулка Строчка. Грустный реторический вопрос скатился по его щеке и он продолжил свой путь. По дороге встретил текст рукопись. Она предупредила его: «В моей стране все переписывается по несколько раз. Единственное, что от меня осталось, это приставка «и». Возвращайся ты лучше в свою безопасную страну». Не послушавшись рукописи, наш текст продолжил свой путь. Вскоре ему повстречался коварный составитель
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <h4>Промоушен релевантных услуг</h4>
        </div>
    </div>
{% endif %}

{% endblock %}
