{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Users - index page{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Пользователи <small>все клиенты и ассистенты</small></h1>
</div>

<div style="margin-bottom: 30px;">
    <a href="{{ url('assistant_users_invite') }}" class="btn btn-primary">Пригласить</a>
</div>


<h2>Клиенты</h2>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="40%">ФИО</th>
                <th width="40%">Email</th>
                <th width="20%"></th>
            </tr>
        </thead>
        <tbody>
            {% for user in list %}
                <tr>
                    <td>
                        {{ user.getLastname() }}
                        {{ user.getFirstname() }}
                        {{ user.getPatronymic() }}
                    </td>
                    <td>
                        {{ user.email() }}
                    </td>
                    <td>
                        <a href="{{ url('assistant_users_view', {'userId': user.getId()}) }}">Перейти</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% if assistants|length %}
    <h2>Ассистенты</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th width="40%">ФИО</th>
                    <th width="40%">Email</th>
                    <th width="20%"></th>
                </tr>
            </thead>
            <tbody>
                {% for user in assistants %}
                    <tr>
                        <td>
                            {{ user.getLastname() }}
                            {{ user.getFirstname() }}
                            {{ user.getPatronymic() }}
                        </td>
                        <td>
                            {{ user.email() }}
                        </td>
                        <td>
                            <a href="{{ url('assistant_users_view', {'userId': user.getId()}) }}">Перейти</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endif %}


{% endblock %}
