{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Users - view page{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li class="active">Пригласить</li>
</ol>

<div class="page-header">
  <h1>Пригласить пользователя <small>+ выставление счёта</small></h1>
</div>


<div class="row">
    <div class="col-md-6">

        {% if badEmail %}
            <div class="alert alert-danger" role="alert">
                <strong>Осторожно!</strong>
                Пользователь с таким email уже существует, его нельзя пригласить.
            </div>
        {% endif %}

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.firstName) }}
                    {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.lastName) }}
                    {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                    {{ form_label(form.patronymic) }}
                    {{ form_widget(form.patronymic, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.tariff) }}
                    {{ form_widget(form.tariff, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.invoiceAmount) }}
                    {{ form_widget(form.invoiceAmount, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>


        {{ form_end(form) }}

    </div>
</div>


{% endblock %}
