{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Users - view page{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li><a href="{{ url('assistant_users_view', {'userId': viewed_user.getId()})}}">{{ viewed_user.getEmail() }}</a></li>
  <li class="active">Создать кейс + выставить счёт</li>
</ol>

<div class="page-header">
  <h1>Создание кейса <small>+ выставление счёта</small></h1>
</div>


<div class="row">
    <div class="col-md-6">

        {{ form_start(form) }}

        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.tariff) }}
                    {{ form_widget(form.tariff, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    {{ form_label(form.invoiceAmount) }}
                    {{ form_widget(form.invoiceAmount, {'attr': {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>


        {{ form_end(form) }}

    </div>
</div>


{% endblock %}
