{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Users - view page{% endblock %}

{% block content %}

<ol class="breadcrumb">
  <li><a href="{{ url('assistant_users_index')}}">Пользователи</a></li>
  <li class="active">{{ viewed_user.getEmail() }}</li>
</ol>

<div class="page-header">
  <h1>Пользователь <small>{{ viewed_user.getEmail() }}</small></h1>
</div>


<div class="row">
    <div class="col-md-5">
         <div class="panel  panel-primary">
            <div class="panel-heading">Информация о пользователе</div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <tr>
                            <th  width="30%">Id:</th>
                            <td>{{ viewed_user.getId() }}</td>
                        </tr>
                        <tr>
                            <th>ФИО:</th>
                            <td>
                                {{ viewed_user.getLastname() }}
                                {{ viewed_user.getFirstname() }}
                                {{ viewed_user.getPatronymic() }}
                            </td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{ viewed_user.getEmail() }}</td>
                        </tr>
                        <tr>
                            <th>Роль:</th>
                            <td>{% if viewed_user.hasRole('ROLE_ASSISTANT') %}ассистент{% else %}клиент{% endif %}</td>
                        </tr>
                    </table>
                </div>
            </div>
          </div>
    </div>
    <div class="col-md-7">
          <div class="panel  panel-primary">
            <div class="panel-heading">Кейсы пользователя</div>
            <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th width="30%">ID</th>
                                    <th width="30%">Тариф</th>
                                    <th width="15%">Оплачено</th>
                                    <th width="25%">Полная оплата</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for case in viewed_user.getCases() %}
                                    <tr>
                                        <td>
                                            <a href="{{ url('assistant_cases_view', {'caseId': case.getSafeId()}) }}">{{ case.getSafeId() }}</a>
                                        </td>
                                        <td>{{ case.getTariff() }}</td>
                                        <td>
                                            {% if case.getBilled()%}<b>да</b>{% else %}нет{% endif %}
                                        </td>
                                        <td>
                                            {% if case.getFirstPayment() > 0 %}
                                                нет, {{ case.getFirstPayment() }} грн.
                                            {% else %}
                                                да
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <a href="{{ url('assistant_users_simple_invoice', {userId: viewed_user.getId()}) }}" class="btn btn-primary">Новый кейс + выставить счёт</a>
            </div>
          </div>
    </div>
</div>

<h2>Отправить уведомление</h2>

{{ form_start(notification_form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(notification_form.message) }}
                    {{ form_widget(notification_form.message, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder':'Текст уведомления'}}) }}
                </div>
                <div class="form-group">
                    {{ form_label(notification_form.link) }}
                    {{ form_widget(notification_form.link, {'attr': {'class': 'form-control', 'placeholder':'Ссылка'}}) }}
                </div>
                <div class="form-group">
                    {{ form_widget(notification_form.sendEmail) }}
                    {{ form_label(notification_form.sendEmail) }}
                </div>
                {{ form_widget(notification_form.add) }}
        </div>
    </div>
{{ form_end(notification_form) }}

<br><br>

<h2>Комментарии ассистентов</h2>

{% for comment in viewed_user.getAssistantComments() %}
    <blockquote class="message assistant">
        <p>{{ comment.getMessage() }}</p>
        <footer>
            {{ comment.getAssistant().getLastname() }}
            {{ comment.getAssistant().getFirstname() }}
            {{ comment.getAssistant().getPatronymic() }}
            ({{ comment.getAssistant().getEmail() }}),
            {{ comment.getCreatedAt().format('d M Y') }} в {{ comment.getCreatedAt.format('H:i') }}
        </footer>
    </blockquote>
{% else %}
    <h4>Пока нет комментариев...</h4>
{% endfor %}

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 4, 'placeholder':'Оставить комментарий'}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}

<br><br>

{% endblock %}
