html, body {
    background-color: #F2F2F2;
}

body { padding-top: 50px; }
body.no-padding { padding-top: 0px; }


.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #E0E0E0;
    border-right: 1px solid #eee;
}

.sidebar .user-info {
    background-color: #e7e7e7;
    padding: 15px;
}

.main {

}

.case-flow-info {

}

.case-flow-info li {
    font-size: 16px;
}

.case-flow-info li .done {
    text-decoration: line-through;
    opacity: 0.8;
}

.case-flow-info li .active {
    font-weight: bold;
}
