{% extends "UserBundle::simple.layout.html.twig" %}

{% block title %}Выбор тарифа{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Выберите тариф</h1>
</div>

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.tariff) }}
                    {{ form_widget(form.tariff, {'attr': {'class': 'form-control'}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
