<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#assistant-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('assistant_homepage')  }}">StopDebt::Assistant</a>
    </div>

    <div class="collapse navbar-collapse" id="assistant-navbar-collapse">
      <p class="navbar-text">Вы вошли как <strong>{{ current_user.getEmail() }}</strong></p>
      <ul class="nav navbar-nav navbar-right">

        <li {% if section == 'users' %}class="active"{% endif %}>
            <a href="{{ url('assistant_users_index')}}"><i class="fa fa-users"></i> Пользователи</a>
        </li>
        <li {% if section == 'notifications' %}class="active"{% endif %}>
            <a href="{{ url('notifications_homepage')}}">
              <i class="fa fa-flag-o"></i> Уведомления <b>({{ sd_unviewed_notifications }})</b>
            </a>
        </li>
        <li {% if section == 'payments' %}class="active"{% endif %}>
            <a href="{{ url('assistant_payments_list')}}"><i class="fa fa-credit-card"></i> Платежи</a>
        </li>
        <li {% if section == 'messaging' %}class="active"{% endif %}>
            <a href="{{ url('assistant_messages_index')}}"><i class="fa fa-commenting-o"></i> Обсуждения <b>({{
                sd_unread_messages }})</b></a>
        </li>
        <li {% if section == 'profile' %}class="active"{% endif %}>
            <a href="{{ url('fos_user_profile_show')}}"><i class="fa fa-user"></i> Профиль</a>
        </li>

        <li>
          <a href="{{ url('fos_user_security_logout') }}" onclick="return confirm('Выйти из системы?');"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </li>
      </ul>
     </div>
    </div>
  </div>
</nav>