<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#user-navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ url('user_homepage')  }}">StopDebt</a>
    </div>

    <div class="collapse navbar-collapse" id="user-navbar-collapse">
      <p class="navbar-text">Вы вошли как <strong>{{ current_user.getEmail() }}</strong></p>
      <ul class="nav navbar-nav navbar-right">
        {% if section != 'offer' %}
            <li {% if section in ['dashboard', 'questionnaire', 'documents', 'strategy', 'reminders', 'liqpay', 'case'] %}class="active"{% endif %}>
                {% if current_user.getCases().count() > 0 %}
                  {% if activeCase %}
                    <a href="{{ url('dashboard_homepage', { caseId: activeCase.getSafeId() }) }}"><i class="fa fa-briefcase"></i> Кейсы</a>
                  {% else %}
                    <a href="{{ url('dashboard_homepage', { caseId: current_user.getCases().first().getSafeId() }) }}"><i class="fa fa-briefcase"></i> Кейсы</a>
                  {% endif %}
                {% else %}
                  <a href="{{ url('case_create_new') }}"><i class="fa fa-briefcase"></i> Кейсы</a>
                {% endif %}
            </li>
            <li {% if section == 'notifications' %}class="active"{% endif %}>
              <a href="{{ url('notifications_homepage')}}">
                <i class="fa fa-flag-o"></i> Уведомления <b>({{ sd_unviewed_notifications }})</b>
              </a>
            </li>
            <li {% if section == 'payments' %}class="active"{% endif %}>
                <a href="{{ url('payments_list') }}"><i class="fa fa-credit-card"></i> Платежи</a>
            </li>
            <li {% if section == 'messaging' %}class="active"{% endif %}>
                <a href="{{ url('messaging_homepage')}}">
                    <i class="fa fa-commenting-o"></i> Обратная связь <b>({{sd_unread_messages }})</b>
                </a>
            </li>
            <li {% if section == 'profile' %}class="active"{% endif %}>
              <a href="{{ url('fos_user_profile_show')}}"><i class="fa fa-user"></i> Профиль</a>
            </li>
        {% endif %}

        <li>
          <a href="{{ url('fos_user_security_logout') }}" onclick="return confirm('Выйти из системы?');"><i class="fa fa-sign-out"></i> {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a>
        </li>
      </ul>
     </div>
    </div>
  </div>
</nav>