<div class="subnav">
    <div class="page-header">
        <h2>Кейс {{ activeCase.getTitle()}} <small><a href="#" data-toggle="modal" data-target="#changeCaseModal">сменить</a></small></h2>
    </div>

    <div class="modal fade" id="changeCaseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Сменить кейс</h4>
          </div>
          <div class="modal-body">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th>Тариф</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for case in current_user.getCases() %}
                            <tr>
                                <td>{{ case.getTitle() }}</td>
                                <td>{{ case.getTariff() }}</td>
                                <td>
                                    {% if activeCase.getId() == case.getId() %}
                                        <i>активный кейс</i>
                                    {% else %}
                                        <a href="{{ url('case_switch', {caseId: case.getSafeId()}) }}">выбрать</a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
          </div>
          <div class="modal-footer">
            <a href="{{ url('case_create_new') }}" class="btn btn-success pull-left">Новый кейс</a>
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>

    <ul class="nav nav-tabs">
        <li {% if section == 'dashboard' %}class="active"{% endif %}>
            <a href="{{ url('dashboard_homepage', {caseId: activeCase.getSafeId()})}}"><i class="fa fa-tachometer"></i> Dashboard</a>
        </li>

        {% if is_granted('CAN_VIEW_QUESTIONNAIRE', activeCase) or is_granted('CAN_EDIT_QUESTIONNAIRE', activeCase)  %}
            <li {% if section == 'questionnaire' %}class="active"{% endif %}>
                <a href="{{ url('questionnaire_homepage', {caseId: activeCase.getSafeId()})}}"><i class="fa fa-file-text-o"></i> Анкета</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#"><i class="fa fa-file-text-o"></i> Анкета</a>
            </li>
        {% endif %}

        {% if is_granted('HAS_DOCUMENTS_ACCESS', activeCase) %}
            <li {% if section == 'documents' %}class="active"{% endif %}>
                <a href="{{ url('documents_homepage', {caseId: activeCase.getSafeId()}) }}"><i class="fa fa-files-o"></i> Документы</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#"><i class="fa fa-files-o"></i> Документы</a>
            </li>
        {% endif %}

        {% if is_granted('HAS_STATEGY_ACCESS', activeCase) %}
            <li {% if section == 'strategy' %}class="active"{% endif %}>
                <a href="{{ url('strategy_homepage', {caseId: activeCase.getSafeId()})}}"><i class="fa fa-area-chart"></i> Стратегия</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#"><i class="fa fa-area-chart"></i> Стратегия</a>
            </li>
        {% endif %}

        {% if is_granted('HAS_REMINDERS_ACCESS', activeCase) %}
            <li {% if section == 'reminders' %}class="active"{% endif %}>
                <a href="{{ url('reminders_homepage', {caseId: activeCase.getSafeId()})}}"><i class="fa fa-calendar-o"></i> События</a>
            </li>
        {% else %}
            <li class="disabled">
                <a href="#"><i class="fa fa-calendar-o"></i> События</a>
            </li>
        {% endif %}

    </ul>
</div>