{% extends current_user.hasRole('ROLE_ASSISTANT') ? 'AssistantBundle::dashboard.layout.html.twig' : 'UserBundle::simple.layout.html.twig' %}

{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% block content %}

<div class="page-header">
  <h1>Профиль</h1>
</div>


<div class="row">
    <div class="col-md-7">
        <div class="panel panel-primary">
            <div class="panel-heading">Редактирование профиля</div>
            <div class="panel-body">

                {{ form_start(form) }}

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.firstName) }}
                            {{ form_widget(form.firstName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.lastName) }}
                            {{ form_widget(form.lastName, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_label(form.patronymic) }}
                            {{ form_widget(form.patronymic, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.locality) }}
                            {{ form_widget(form.locality, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            {{ form_label(form.phoneNumber) }}
                            {{ form_widget(form.phoneNumber, {'attr': {'class': 'form-control'}}) }}
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary">Сохранить</button>
            {{ form_end(form) }}
            </div>
        </div>
    </div>

    <div class="col-md-5">
        <div class="panel panel-primary">
            <div class="panel-heading">Смена пароля</div>
            <div class="panel-body">
                {% if showFormErrors %}
                    <div class="alert alert-danger" role="alert">
                      <strong>Warning!</strong>
                      {{ form_errors(passForm.plainPassword.first) }}
                    </div>
                {% endif %}

                {{ form_start(passForm) }}
                    <div class="form-group">
                        {{ form_label(passForm.plainPassword.first) }}
                        {{ form_widget(passForm.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Input new password for user'}}) }}
                    </div>

                    <div class="form-group">
                        {{ form_label(passForm.plainPassword.second) }}
                        {{ form_widget(passForm.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Repeat your new password'}}) }}
                    </div>

                {{ form_end(passForm) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
