{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Case - view page{% endblock %}

{% block content %}

<div class="page-header">
  <h1>Общение с пользователями </h1>
</div>


<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Пользователь</th>
                <th>Тема</th>
                <th>Назначен</th>
                <th>Уровень</th>
                <th>Статус</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for items in messages %}
                {% set item = items['message'] %}
                {% set unread = items['cnt'] %}
                <tr {% if unread != 0 %}style="background-color: tan;"{% endif %}>
                    <td>{{ item.getCreatedAt().format('d M Y') }} в {{ item.getCreatedAt.format('H:i') }}</td>
                    <td>{{ item.getAuthor().getLastname() }} {{ item.getAuthor().getFirstname() }} {{ item.getAuthor().getPatronymic() }}</td>
                    <td>{{ item.getMessage() }}</td>
                    <td>
                        {% if item.getAssignedAssistant() %}
                            {{ item.getAssignedAssistant().getLastname() }} {{ item.getAssignedAssistant().getFirstname() }} {{ item.getAssignedAssistant().getPatronymic() }}
                        {% else %}
                            &mdash;
                        {% endif %}
                    </td>
                    <td>
                        {% if item.getLevel() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::LEVEL_GENERAL') %}Общий{% endif %}
                        {% if item.getLevel() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::LEVEL_SPECIAL') %}Специальный{% endif %}
                    </td>
                    <td>
                        {% if item.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_ACTIVE') %}<strong>
                            Активный({{ unread }})</strong>{% endif %}
                        {% if item.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_DONE') %}Завершен{% endif %}
                    </td>
                    <td>
                        <a href="{{ url('assistant_messages', {'messageId': item.getId() }) }}">Общение</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="7">
                        <i>Пока нет ни одного обращения от клиентов</i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
