{% extends 'AssistantBundle::dashboard.layout.html.twig' %}

{% block title %}Assistant Case - view page{% endblock %}

{% block content %}
<ol class="breadcrumb">
  <li><a href="{{ url('assistant_messages_index')}}">Обсуждения</a></li>
  <li class="active">{{ mainMessage.getMessage() }}</li>
</ol>

<div class="page-header">
  <h1>Общение с пользователем <small>{{ mainMessage.getAuthor().getEmail() }}</small></h1>
</div>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <tr>
            <th width="25%">Автор вопроса:</th>
            <td><a href="{{ url('assistant_users_view', {'userId': mainMessage.getAuthor().getId()}) }}">{{ mainMessage.getAuthor().getLastname() }} {{ mainMessage.getAuthor().getFirstname() }} {{ mainMessage.getAuthor().getPatronymic() }}</a></td>
        </tr>
        <tr>
            <th>Назначен</th>
            <td>
                {% if mainMessage.getAssignedAssistant() %}
                    {{ mainMessage.getAssignedAssistant().getLastname() }} {{ mainMessage.getAssignedAssistant().getFirstname() }} {{ mainMessage.getAssignedAssistant().getPatronymic() }}

                    {% if current_user.getId() ==  mainMessage.getAssignedAssistant().getId() %}
                        &nbsp; <a href="{{ url('assistant_messages_assign_self', {messageId: mainMessage.getId(), assign:0}) }}" data-method="post">отменить назначение</a>
                    {% endif %}
                {% else %}
                    &mdash;
                    &nbsp; <a href="{{ url('assistant_messages_assign_self', {messageId: mainMessage.getId(), assign:1}) }}" data-method="post">назначить себя</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Уровень</th>
            <td>
                {% if mainMessage.getLevel() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::LEVEL_GENERAL') %}
                    Общий
                    &nbsp; <a href="{{ url('assistant_messages_change_level', {messageId: mainMessage.getId(), level:2}) }}" data-method="post">сделать специальным</a>
                {% endif %}
                {% if mainMessage.getLevel() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::LEVEL_SPECIAL') %}
                    Специальный
                    &nbsp; <a href="{{ url('assistant_messages_change_level', {messageId: mainMessage.getId(), level:1}) }}" data-method="post">сделать общим</a>
                {% endif %}
            </td>
        </tr>
        <tr>
            <th>Статус</th>
            <td>
                {% if mainMessage.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_ACTIVE') %}
                    Активный
                    &nbsp; <a href="{{ url('assistant_messages_change_status', {messageId: mainMessage.getId(), status:1}) }}" data-method="post">завершить</a>
                {% endif %}
                {% if mainMessage.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_DONE') %}
                    Завершен
                    &nbsp; <a href="{{ url('assistant_messages_change_status', {messageId: mainMessage.getId(), status:0}) }}" data-method="post">возобновить</a>
                {% endif %}
            </td>
        </tr>
    </table>
</div>

{% for message in messages %}
    <blockquote class="message {% if message.getUserMessage() == 0 %}assistant{% endif %}">
        <p>{{ message.getMessage() }}</p>
        <footer>
            {% if message.getUserMessage() == 1%}
                Пользователь,
            {% else %}
                Асистент,
            {% endif %}
            {{ message.getCreatedAt().format('d M Y') }} в {{ message.getCreatedAt.format('H:i') }}
        </footer>
    </blockquote>
{% else %}
    <p>Обсуждение ещё не начато.</p>
{% endfor %}

<br>

<h3>Отправить ответ</h3>

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 6}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}


{% endblock %}
