{% extends "UserBundle::simple.layout.html.twig" %}

{% block title %}Messaging - index page{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Обратная связь <small>с ассистентом</small></h1>
</div>

{% for entity in messages %}
    {% set message = entity['message'] %}
    {% set unread = entity['cnt'] %}
    <div class="panel panel-primary">
      <div class="panel-heading">
          Обсуждение начато {{ message.getCreatedAt().format('d M Y') }} в <strong>{{ message.getCreatedAt.format('H:i') }}</strong>
          {% if message.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_DONE') %}<span class="label label-success">Есть ответ!</span>{% endif %}
      </div>
      <div class="panel-body">
        {{ message.getMessage() }}
      </div>
      <div class="panel-footer">
          <a href="{{ url('messaging_thread', {messageId: message.getId() }) }}">К обсуждению - <b>{{ unread }}
                  новых</b></a>
      </div>
    </div>
{% else %}
    <p>Нет обсуждений.</p>
{% endfor %}

<br>

<h4>Задать вопрос <small>начать ветку обсуждений</small></h4>

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
