{% extends "UserBundle::simple.layout.html.twig" %}

{% block title %}Messaging - index page{% endblock %}

{% block content %}
<div class="page-header">
  <h1>Обратная связь <small>с ассистентом</small></h1>
  <a href="{{ url('messaging_homepage') }}">&larr; Назад</a>
</div>

{% if mainMessage.getThreadStatus() == constant('SD\\Bundle\\MessagingBundle\\Entity\\Message::THREAD_STATUS_DONE') %}
    <div class="alert alert-success" role="alert">
        <strong>Ура!</strong> Асистент нашёл ответ на ваш вопрос.
    </div>
{% endif %}

{% for message in messages %}
    <blockquote class="message {% if message.getUserMessage() == 0 %}assistant{% endif %}">
        <p>{{ message.getMessage() }}</p>
        <footer>
            {% if message.getUserMessage() == 1%}
                Вы,
            {% else %}
                Асистент,
            {% endif %}
            {{ message.getCreatedAt().format('d M Y') }} в {{ message.getCreatedAt.format('H:i') }}
        </footer>
    </blockquote>
{% else %}
    <p>Нет обсуждений.</p>
{% endfor %}

<br>

<hr>

<h4>Ответить</h4>

{{ form_start(form) }}
    <div class="row">
        <div class="col-md-7">
                <div class="form-group">
                    {{ form_label(form.message) }}
                    {{ form_widget(form.message, {'attr': {'class': 'form-control', 'rows': 4}}) }}
                </div>
                {{ form_widget(form.add) }}
        </div>
    </div>
{{ form_end(form) }}

{% endblock %}
