{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Questionnaire - edit page{% endblock %}

{% block content %}

{% if view_mode %}
    <div class="row">
        {% for sectionName, sectionData in questionnaireData %}
            {% if sectionData | length > 0 %}
                {% set sectionSchema = schema[sectionName] %}
                <div class="col-sm-12">
                    <h2>{{ "qentities.#{sectionName}.name" | trans({}, 'questionnaire')  }}</h2>
                </div>
                <div class="col-sm-12">
                    <table class="table table-bordered table-hover table-striped">
                        <tbody>
                            {% for valKey, value in sectionData %}
                                <tr>
                                    <td width="60%">
                                        <b>
                                            {% if sectionSchema[valKey] is defined  %}
                                                {{ "qschema.#{sectionName}.#{valKey}" | trans({}, "questionnaire") }}
                                            {% endif %}
                                        </b>
                                    </td>
                                    <td>
                                        <i>
                                        {% if sectionSchema[valKey].values[value] is not defined %}
                                            {{ value }}
                                        {% else %}
                                            {{ sectionSchema[valKey].values[value] }}
                                        {% endif %}
                                        </i>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    {% if activeCase.getTariff() == 'advanced' and activeCase.getStage() == constant('SD\\Bundle\\CaseBundle\\Entity\\DebtCase::ADVANCED_TARIFF_STAGE_4_REVIEW_QUESTIONNAIRE') %}
        <a href="{{ url('questionnaire_approve', {caseId: activeCase.getSafeId() }) }}" class="btn btn-primary" data-method="post">Подтвердить заполенную анкету</a>

        <br><br>
    {% endif %}
{% else %}
    <p id="qui-loading">Loading...</p>
    <div id="questionnaire-container" q-data="{{ data | escape}}"></div>
{% endif %}



{% endblock %}
