html, body {
    background-color: #F0F0F0;
}

body { padding-top: 65px; }

.breadcrumb {
    background-color: #F0F0F0;
}

.sidebar {
    position: fixed;
    top: 50px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #D3DED3;
    border-right: 1px solid #eee;
}

.sidebar .user-info {
    background-color: #DCE6DF;
    padding: 15px;
}

.main {

}

.breadcrumb {
    margin-bottom: 0;
    padding-bottom: 0;
}

.strategy-push-table {
    width: 100%;
}

.strategy-push-table td {
    padding: 0 5px !important;
}

blockquote.message {
    margin: 10px 0 20px 0;
    display: block;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 2px solid #777;
    font-size: 20px;
}

blockquote.message.assistant {
    border-left: 2px solid #77c;
}

blockquote.message footer {
    margin-top: 10px;
    font-style: italic;
    display: block;
    font-size: 16px;
    color: #8a8a8a;
}

.case-flow-info {

}

.case-flow-info li {
    font-size: 18px;
}

.case-flow-info li .done {
    text-decoration: line-through;
    opacity: 0.8;
}

.case-flow-info li .active {
    font-weight: bold;
}