{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Documents - index page{% endblock %}

{% block content %}


{{ form_start(form) }}
<div class="form-group">
    {{ form_widget(form.documentTypes, {'attr': {'class': ''}}) }}
</div>
{{ form_end(form) }}

<hr>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Safe ID:</th>
                <th>Название</th>
                <th>Тип</th>
                <th>Утверждён</th>
            </tr>
        </thead>
        <tbody>
            {% for item in documents %}
                <tr>
                    <td><a href="{{ url('documents_view', {caseId: activeCase.getSafeId(), documentId: item.getSafeId()}) }}">{{ item.getSafeId() }}</a></td>
                    <td>{{ item.geTtitle() }}</td>
                    <td>{{ item.getDocumentTypesStr()  }}</td>
                    <td>{% if not item.getIsApproved() %}&mdash;{% else %}&radic;{% endif %}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">Не найдено документов по заданым параметрам.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<a href="{{ url('documents_upload', {caseId: activeCase.getSafeId()}) }}" class="btn btn-warning">Загрузить</a>

{% if (activeCase.getTariff() == 'optimal' and activeCase.getStage() == constant('SD\\Bundle\\CaseBundle\\Entity\\DebtCase::OPTIMAL_TARIFF_STAGE_1_UPLOAD_DOCUMENTS')) or (activeCase.getTariff() == 'advanced' and activeCase.getStage() == constant('SD\\Bundle\\CaseBundle\\Entity\\DebtCase::ADVANCED_TARIFF_STAGE_1_UPLOAD_DOCUMENTS')) %}
        <a href="{{ url('documents_will_send_manually', {caseId: activeCase.getSafeId()}) }}" class="btn btn-danger" data-method="post">Отправлю по почте</a>
{% endif %}

{% endblock %}
