{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Documents - upload page{% endblock %}

{% block content %}
<div class="backlink">
  <a href="{{ url('documents_homepage', {caseId: activeCase.getSafeId()}) }}">&larr; Назад</a>
</div>

<div class="row" id="documentUploadWrapper">
  <div class="col-sm-6">
      {% if showFormErrors %}
        <div class="alert alert-danger" role="alert">
          <strong>Warning!</strong>
          {{ form_errors(form.attachment) }}
        </div>
      {% endif %}

    {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.documentTypes) }}
            {{ form_widget(form.documentTypes, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        </div>

        <div class="form-group">
            {{ form_label(form.attachment) }}
            {{ form_widget(form.attachment, {'attr': {'class': ''}}) }}
        </div>

    {{ form_end(form) }}
  </div>
</div>

{% endblock %}
