{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Documents - index page{% endblock %}

{% block content %}
<div class="backlink">
  <a href="{{ url('documents_homepage', {caseId: activeCase.getSafeId()}) }}">&larr; Назад</a>
</div>


<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <tr>
            <th>SafeId:</th>
            <td>{{ document.getSafeId() }}</td>
        </tr>
        <tr>
            <th>Название:</th>
            <td>{{ document.getTitle() }}</td>
        </tr>
        <tr>
            <th>Тип:</th>
            <td>{{ document.getDocumentTypesStr() }}</td>
        </tr>
        <tr>
            <th>Утверждён:</th>
            <td>{% if not document.getIsApproved() %}&mdash;{% else %}&radic;{% endif %}</td>
        </tr>

    </table>
</div>

<h2>Файлы</h2>

<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Название</th>
                <th>Загружен</th>
                <th>Кем</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for item in document.getUploads() %}
                <tr>
                    <td>{{ item.filename }}</td>
                    <td>{{ item.uploaded }}</td>
                    <td>{% if item.uploadedByUser %}вами{% else %}асcистентом{% endif %}</td>
                    <td>
                        <a href="{{ url('documents_raw', {caseId: activeCase.getSafeId(), documentId: document.getSafeId(), index: loop.index0}) }}" target="_blank" class="btn btn-success btn-sm">Скачать</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Пока нет загруженых файлов</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<h3>Быстрая загрузка</h3>

{{ form_start(form) }}
    <div class="form-group">
        {{ form_label(form.attachment) }}
        {{ form_widget(form.attachment, {'attr': {'class': ''}}) }}
    </div>
{{ form_end(form) }}

{% endblock %}
