blockquote.message {
    margin: 10px 0 20px 0;
    display: block;
    padding: 0.5625rem 1.25rem 0 1.1875rem;
    border-left: 2px solid #777;
    font-size: 20px;
}

blockquote.message.assistant {
    border-left: 2px solid #77c;
}

blockquote.message footer {
    margin-top: 10px;
    font-style: italic;
    display: block;
    font-size: 16px;
    color: #8a8a8a;
}