html, body {
    background-color: #F7F7F7;
}

body { padding-top: 50px; }
body.no-padding { padding-top: 0px; }

body.user {
  @import 'MessagingBundle';
  @import 'questionnaire/main';
  @import 'UserBundleBase';
}

body.user-simple {
  @import 'UserBundleBase';
  @import 'UserBundleUser';
}

body.assistant {
  @import 'questionnaire/main';
  @import "AssistantBundle";
}