.subnav {
    margin-top: 20px;
    margin-bottom: 20px;
}

.backlink {
    margin: 8px 0 15px 0;
}

.case-flow-info {

}

.case-flow-info li {
    font-size: 16px;
}

.case-flow-info li .done {
    text-decoration: line-through;
    opacity: 0.8;
}

.case-flow-info li .active {
    font-weight: bold;
}
