<p>
    Вы выбрали тариф <b>{{ activeCase.getTariff() }}</b>.
    Вам необходимо оплатить эту услугу.
</p>

<a href="{{ url('payments_pay_liqpay', { caseId: activeCase.getSafeId() }) }}" class="btn btn-danger">Оплатить</a>