<ol class="case-flow-info">
    {% for item in flowInfo %}
        <li>
            <span class="{% if item.active %}active{% endif %}{% if item.done %}done{% endif %}">{{ item.label }}</span>
        </li>
    {% endfor %}
</ol>