<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="30%">Заголовок</th>
                <th width="40%">Текст</th>
                <th width="30%">Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in list %}
                <tr>
                    <td>{{ reminder.getTitle() }}</td>
                    <td>{{ reminder.getDescription() }}</td>
                    <td>{{ reminder.getStartAt().format('d M Y, H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Пока нет событий.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>