{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Reminders - index page{% endblock %}

{% block content %}

<ul class="nav nav-pills">
    <li><a href="{{ url('reminders_homepage', {caseId: activeCase.getSafeId()})}}">Список</a></li>
    <li class="active"><a href="#" onclick="return false;">Календарь</a></li>
</ul>
<br>

<h3>
    <a href="{{ url('reminders_calendar', {caseId: activeCase.getSafeId(), day: prevTime|date('Y-m-d')})}}">&larr;</a>
    {{ time|date('F, Y') }}
    <a href="{{ url('reminders_calendar', {caseId: activeCase.getSafeId(), day: nextTime|date('Y-m-d')})}}">&rarr;</a>
</h3>

{# Code below was taken from https://gist.github.com/aknosis/3932192 #}

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="15%">Monday</th>
                <th width="15%">Tuesday</th>
                <th width="16%">Wednesday</th>
                <th width="15%">Thursday</th>
                <th width="15%">Friday</th>
                <th width="12%">Saturday</th>
                <th width="12%">Sunday</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            {% set daysInMonth = time|date('t') %}
            {% set startDow = time|date('F 1\\s\\t Y')|date('N') - 1 %}
            {% set dow = startDow %}
            {% for day in range(1,daysInMonth) %}
                {% if loop.first and startDow != 0 %}
                    <td colspan="{{ startDow }}"></td>
                {% endif %}
                <td>
                    <div>
                        <div>
                         {% if listByDay[day] | length > 0 %}
                            <a href="#" data-toggle="modal" data-target="#modalForDay{{ listByDay[day][0].getStartAt().format('dmy') }}"><span class="label label-primary">{{ day }}</span></a>
                         {% else %}
                            {{ day }}
                         {% endif %}
                        </div>
                    </div>
                </td>
                {% if loop.last and dow != 6 %}
                    <td colspan="{{ 6 - dow }}">&nbsp;</td>
                {% endif %}
                {% if dow == 6 %}
                    {% set dow = 0 %}
                </tr>
                <tr>
                {% else %}
                    {% set dow = dow + 1 %}
                {% endif %}
            {% endfor %}
            </tr>
        </tbody>
    </table>
</div>

{% for innerList in listByDay %}
    {% if innerList | length > 0 %}
        <div class="modal fade" id="modalForDay{{ innerList[0].getStartAt().format('dmy') }}" tabindex="-1">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">События, {{ innerList[0].getStartAt().format('d F Y') }}</h4>
              </div>
              <div class="modal-body" style="background-color: #F2F2F2;">
                    {% for reminder in innerList %}
                        <h3>
                            {{ reminder.getTitle() }}
                            <small>начало в {{ reminder.getStartAt().format('H:i') }}</small>
                        </h3>
                        <p>{{ reminder.getDescription() }}</p>
                        {% if not loop.last %}<hr>{% endif %}
                    {% endfor %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    {% endif %}
{% endfor %}

{% endblock %}
