{% extends 'UserBundle::dashboard.layout.html.twig' %}

{% block title %}Reminders - index page{% endblock %}

{% block content %}

<ul class="nav nav-pills">
    <li class="active"><a href="#" onclick="return false;">Список</a></li>
    <li><a href="{{ url('reminders_calendar', {caseId: activeCase.getSafeId()})}}">Календарь</a></li>
</ul>
<br>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="30%">Заголовок</th>
                <th width="40%">Текст</th>
                <th width="30%">Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in list %}
                <tr>
                    <td>{{ reminder.getTitle() }}</td>
                    <td>{{ reminder.getDescription() }}</td>
                    <td>{{ reminder.getStartAt().format('d M Y, H:i') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">В будущем нет событий</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


{% if previous | length > 0 %}
<h3>Прошлые события</h3>
<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th width="30%">Заголовок</th>
                <th width="40%">Текст</th>
                <th width="30%">Дата</th>
            </tr>
        </thead>
        <tbody>
            {% for reminder in previous | reverse %}
                <tr>
                    <td>{{ reminder.getTitle() }}</td>
                    <td>{{ reminder.getDescription() }}</td>
                    <td>{{ reminder.getStartAt().format('d M Y, H:i') }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}

{% endblock %}
