{% extends current_user.hasRole('ROLE_ASSISTANT') ? 'AssistantBundle::dashboard.layout.html.twig' : 'UserBundle::simple.layout.html.twig' %}


{% block title %}Notifications{% endblock %}

{% block content %}

<div id="notifications-page">
    <div class="page-header">
        <h1>Уведомления</h1>
    </div>

    {% for key, list in data %}
        <h3>{{ key }}</h3>
        {% for item in list %}
            <div class="alert {% if item.getViewed() %}alert-info{% else %}alert-success{% endif %}" role="alert">
                <p>
                    <strong>{{ item.getCreatedAt().format("H:i") }}:</strong>
                    {{ item.getMessage() }}
                </p>
                {% if item.getLink() %}
                    <a href="{{ item.getLink() }}">перейти</a>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>

{% endblock %}