{% extends "UserBundle::layout.html.twig" %}

{% block content %}
<div class="col-sm-6 col-md-4 col-md-offset-4">
    <h1 class="text-center login-title">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</h1>
    <div class="account-wall">

        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error|trans({}, 'FOSUserBundle') }}
            </div>
        {% endif %}

        <form action="{{ path("fos_user_security_check") }}" method="post" class="form-signin">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form-control" placeholder="Email" autofocus type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans({}, 'FOSUserBundle') }}</label>
                <input class="form-control" placeholder="Password" type="password" id="password" name="_password" required="required" />
            </div>

            <div class="checkbox">
                <label for="remember_me">
                    <input class="checkbox pull-left" value="remember_me" type="checkbox" id="remember_me" name="_remember_me" />
                    {{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}
                </label>
            </div>

            <input class="btn btn-primary btn-block" type="submit" id="_submit"
                   name="_submit" value="{{ 'security.login.submit'|trans({}, 'FOSUserBundle') }}" />

        </form>
    </div>

    <p style="margin-top: 35px;" class="text-center">
        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook' }) }}" alt="Sign in with Facebook"><i class="fa fa-facebook" style="font-size: 25px;"></i></a>

        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte' }) }}" alt="Sign in with VK"><i class="fa fa-vk" style="font-size: 25px;"></i></a>

        <a href="{{ path('hwi_oauth_service_redirect', {'service': 'twitter' }) }}" alt="Sign in with Twitter"><i class="fa fa-twitter" style="font-size: 25px;"></i></a>

        или

        <a href="{{ url('signup') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a>
    </p>

</div>
{% endblock content %}