.progress {
  height: 4px;
  margin-bottom: 12px;
  margin-left: 2px;
  margin-right: 2px;
  overflow: hidden;
  background-color: #E8E8E8;
}

select {
  -webkit-appearance:none;
}

body {
  background: #e4e4e3;
  font-family: 'Open Sans', sans-serif;
}

ul, li {
  padding: 0;
}

li {
  list-style: none;
}

a:hover {
  text-decoration: none;
}



.sidebar {
  display: inline-block;
  width: 235px;
  height: 100%;
  background: #4c79b1;
  border-right: 1px solid #4F7DB7;
  padding-top: 5px;
  position: fixed;
}

.sidebar li a {
  padding: 10px 20px;
  display: block;
  color:#fff;
}


.sidebar li a:hover {
  background: #31619C;
  text-decoration: none;
}

.sidebar ul {
  padding-top: 46px;
}

.container {
  background: #fff;
  margin: 100px auto 0;
  max-width: 1000px;
  padding: 0;
  margin-bottom: 40px;
}

.input, .button {
  padding: 12px 0 11px 0;
}

.input input {
  color: #333;
  background-color: #fff;
  border: 1px solid #d8d8d8;
  padding: .6em .8em;
  border-radius: 2px;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
}

.input {
  width: 100%;
}

.input .btn {
  color: #707479;
  border: 1px solid #d8d8d8;
  padding: .6em .8em;
  border-radius: 2px;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
  text-align: left;
}

.input input:focus {
  border: 1px solid #095eca;
  outline: none;
  color:#333;
}

.mediumbutton {
  display: inline-block;
  margin: 0 5px;
}

.mediumbutton a {
  padding: 10px 20px;
  line-height: 16px;
}

.buttonscontainer {
  border-top: 1px solid #F1f1f1;
  padding: 0 20px 5px;
  clear: both;
  background: #F9F9F9;
}

.nextbutton, .backbutton {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  font-family: 'Freight Sans Small Caps',Verdana,Geneva,sans-serif;
  line-height: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.nextbutton {
  background-color: #3f7ecd;
  color: #fff;
  padding-right:30px!important;
  padding-left:30px!important;

}

.backbutton {
  background-color: #fff;
  color:#0074D9;
  text-align: left;
}

.backbutton:hover {
  background-color: #DCDCDC;
  color:#333;
}

.nextbutton:hover {
  background-color: #0366BB;
  color:#fff;
}


.progresstext ul li {
  display: table-cell;
  font-size: 9px;
  text-transform: uppercase;
  color:#b7b7b7;
  width: 11%;
  vertical-align: top;
  text-align: center;
  margin: 0px 3px 0px 4px;
}

.progresstext ul li.done a {
  color:#5F5F5F;
}

.progresstext ul li:last-child {
  margin-right:none;
}

.progresstext ul li.done {
  color:#5F5F5F;
}

.progresstext ul li.active {
  font-weight: 800;
  color:#4C79B1;
}

.progresscontainer {
  padding: 25px 20px 5px;
  background: #FFF;
}

.contenthead {
  border-bottom: 1px solid #f1f1f1;
}

.contenthead h2 {
  margin: 12px 30px 20px 5px;
  display: inline-block;
}

.contenthead span {
  color:#0074D9;
  text-transform: uppercase;
  font-size: 13px;
  display: inline-block;
}

.formcontainer {
  padding: 30px 10px 35px;
  max-width: 800px;
  margin: 0 auto;
}

.formcontainer:after, .dibs:after {
  content: " ";
  clear: both;
  display: table;
}

.desc {
  padding: 7px 0px 8px 0px;
  font-size: 14px;
  color: #919191;
}

.phone span {
  position: absolute;
  top:9px;
  left:25px;
}

.phone input {
  padding-left: 30px!important;
}

.row.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.text:disabled {
  cursor: not-allowed;
}
.dibs {
  border-radius: 3px;
  border: 1px solid #d3d3d3;
  padding-left: 5px;
}

.dib label {
  border-radius: 3px;
  padding: 9px 7px;
  margin-top: 5px;
  cursor: pointer;
  text-align: center;
  font-weight: 500;
  border: 1px solid #fff;
  width: 100%;
  font-size: 13px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.dib {
  padding: 0 10px 0 0;
}

.dib label:hover {
  background: #E4EDF3;
  border: 1px solid #E4EDF3;
}

.dib label input {
  cursor: pointer;
}

.dib label input:checked + span {
  font-weight: 600;
}

.dib .active {
  background: #4C79B1;
  color: #fff;
  border-color: #4C79B1;
}

.dib .active:hover {
  background: #4C79B1;
  color: #fff;
  border-color: #4C79B1;
}



.goals {
  text-align: center;
  margin-top: 20px;
}

.goals  .col-xs-6 {
  margin: 0;
  padding: 0;
}

.goal1, .goal2, .goal3, .goal4 {
  padding: 110px 15px 15px;
  background-color: #fff;
  border: 1px solid #fff;
  display: inline-block;
  height: 171px;
  position: relative;
  width: 100%;
  font-weight: 600;
  color:#333;
  -webkit-transition: border .2s linear;
  transition: border .2s linear;
  margin-bottom: 30px;

}

.goal1 {
  background: #fff url("../images/restructurizaciya.png") center 10px no-repeat;
}

.goal2 {
  background: #fff url("../images/kredit.png") center 10px no-repeat;
}

.goal3 {
  background: #fff url("../images/obyazatelstva.png") center 10px no-repeat;
}

.goal4 {
  background: #fff url("../images/bankrotstvo.png") center 10px no-repeat;
}

.goal1:hover, .goal2:hover, .goal3:hover, .goal4:hover {
  border: 1px solid #0074D9;
  color:#0074D9;
}

.goal1.active, .goal2.active, .goal3.active, .goal4.active {
  border: 1px solid #0074D9;
  color:#0074D9;
}

.text {
  width:100%;
}

.input-group {
  border-bottom: 1px solid #F0F0F0;
  padding:20px 0;
}

.input-group:last-child {
  border-bottom: 0;
  padding-bottom: 0;
}

.checkboxes {
  margin-top: 8px;
}

.checkboxes label {
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 25px;
  margin-right: 35px;
  font-size: 13px;
}

.checkboxes input[type=radio] {
  display: none;
}

.checkboxes label:before {
  content: " ";
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 10px;
  position: absolute;
  left: 0;
  bottom: 1px;
  background: url('../images/radio_button.png') top left;
}

.checkboxes input[type=radio]:checked + label:before {
  background: url('../images/radio_button.png') 0px -17px;
  color: #f3f3f3;
  font-size: 30px;
  text-align: center;
  line-height: 18px;
}

.checkboxes input[type=checkbox] {
  display: none;
}

.checkboxes input[type=checkbox] + label:before {
  background: url('../images/radio_button.png') 17px 0px;
}

.checkboxes input[type=checkbox]:checked + label:before {
  background: url('../images/radio_button.png') 17px -17px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
  font-size: 15px;
  color: #f3f3f3;
  text-align: center;
  line-height: 15px;
}

.bordered {
  border-top:1px solid #F9F9F9;
  padding-top: 20px;
  clear: both;
}

.arrow {
  width:13px;
  height: 8px;
  display: block;
  position: absolute;
  top:14px;
  right: 10px;
  background: url('../images/caret.svg') top left no-repeat;
}

.headline span {
  color: #4C78B5;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
  margin-left: 25px;
}

.headline h2 {
  display: inline-block;
}

.groupline {
  padding-top: 30px;
}

.birthdayblock {
  display: inline-block;
  position: relative;
  width: 32%;
}

.comment {
  font-size: 13px;
  padding-top: 7px;
  font-weight: 300;
  color: #b14122;
}

.dropdowninput {
  position: relative;
}

.row {
  padding-bottom: 20px;
  margin-left: 0;
  margin-right: 0;
}

.gr {
  padding-right: 0;
  padding-left: 0;
}

.gr .col-sm-6:first-child:after {
  content: " — ";
  position: absolute;
  right: -7px;
  top:7px;
}

.pager li > a, .pager li > span {
  border: 0;
  display: inline-block;
  font-family: 'Freight Sans Small Caps',Verdana,Geneva,sans-serif;
  line-height: 16px;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 4px;
}

.pager .previous > a, .pager .previous > span {
  float: left;
  background-color: #fff;
  color: #4C79B1;
}

.pager .next > a, .pager .next > span {
  float: right;
  background-color: #4C79B1;
  color: #fff;
}
.pager .next a:hover {
  background-color: #0366BB;
  color: #fff;
}
.pager .previous a:hover {
  background-color: #DCDCDC;
  color: #333;
}