{% extends 'UserBundle::simple.layout.html.twig' %}

{% block title %}Оплатите кейс{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Оплата кейса {{ activeCase.getSafeId() }} <small>тариф {{ activeCase.getTariff() }}</small></h1>
    </div>

    <div id="liqpay_checkout"></div>
    <script>
        window.LiqPayCheckoutCallback = function() {
            LiqPayCheckout.init({
                data: "{{ data }}",
                signature: "{{ sign }}",
                embedTo: "#liqpay_checkout",
                mode: "embed" // embed || popup
            }).on("liqpay.callback", function(data){
                if (data.result == 'success') {
                    setTimeout(function() {
                        document.location = '{{ resultUrl }}';
                    }, 3000);
                }
            }).on("liqpay.ready", function(data){

            }).on("liqpay.close", function(data){

            });
        };
    </script>
    <script src="//static.liqpay.com/libjs/checkout.js" async></script>


    <a href="{{ url('payments_pay_liqpay_ignore', {caseId: activeCase.getSafeId()}) }}" class="btn btn-danger" data-method="post">Игнорировать оплату (фича для разработчиков)</a>

    <br><br>
{% endblock %}