{% extends "UserBundle::simple.layout.html.twig" %}

{% block title %}Payments{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Платежи</h1>
    </div>


    {% for case in current_user.getCases() %}
        <h3>Кейс {{ case.getSafeId() }}</h3>
        <div class="panel {% if case.getBilled() %}panel-primary{% else %}panel-danger{% endif %}">
            <div class="panel-heading">Кейс {{ case.getTitle() }} - <b>{% if case.getBilled() %}оплачено{% else %}не оплачено{% endif %}</b> </div>
            <div class="panel-body">
                <p>Тариф: <b>{{ case.getTariff() }}</b>.</p>

                {% if case.getUniqueLiqpayTransactions()|length %}
                    <p>История платежей</p>
                    <ul>
                        {% for transaction in case.getUniqueLiqpayTransactions() %}
                            <li>{{ transaction.getCreatedAt().format('d M Y в H:i') }} - <b>{{ transaction.getAmount() }} {{ transaction.getCurrency() }}</b> [{{ transaction.getStatus() }}]</li>
                        {% endfor %}
                    </ul>
                {% endif %}

                {% if not case.getBilled() %}
                    <a href="{{ url('payments_pay_liqpay', { caseId: case.getSafeId() }) }}" class="btn btn-danger">Оплатить</a>
                {% endif %}
            </div>
        </div>
            {% if case.getCustomServices() | length %}
                <div class="row">
                    {% for service in case.getCustomServices() %}
                        <div class="col-md-6">
                            <div class="panel {% if service.getBilled() %}panel-primary{% else %}panel-danger{% endif %}">
                                <div class="panel-heading">Услуга {{ service.getSafeId() }} - <b>{% if service.getBilled() %}оплачено{% else %}не оплачено{% endif %}</b> </div>
                                <div class="panel-body">
                                    <p>
                                        <b>Название:</b> {{ service.getTitle() }}
                                    </p>
                                    <p>
                                        {{ service.getDescription() }}
                                    </p>

                                    {% if service.getUniqueLiqpayTransactions()|length %}
                                        <p>История платежей</p>
                                        <ul>
                                            {% for transaction in service.getUniqueLiqpayTransactions() %}
                                                <li>{{ transaction.getCreatedAt().format('d M Y в H:i') }} - <b>{{ transaction.getAmount() }} {{ transaction.getCurrency() }}</b> [{{ transaction.getStatus() }}]</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if not service.getBilled() %}
                                        <a href="{{ url('payments_pay_service_liqpay', {serviceId: service.getSafeId()}) }}" class="btn btn-danger">Оплатить</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}

    {% endfor %}



    {#
    {% if payments|length != 0 %}
        <h3>Autopay платежи</h3>

        <div class="table-responsive">
        <table class="table table-bordered table-hover table-striped">
            <tr>
                <th>Время платежа</th>
                <th>Сумма</th>
                <th>Способ оплаты</th>
            </tr>
            {% for payment in payments %}
            <tr>
                <td>
                    {{ payment.getPaymentDate()|date('d.m.Y H:i') }}
                </td>
                <td>
                    {{ payment.getDetails()['product_price'] }}
                </td>
                <td>
                    {{ payment.getPaymentMethod() }}
                </td>
            </tr>
            {% endfor %}
        </table>
        </div>
    {% endif %}
    #}

{% endblock %}