{% extends 'UserBundle::simple.layout.html.twig' %}

{% block title %}Успешная оплата услуги{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Оплата услуги {{ service.getSafeId() }}</h1>
    </div>

    <h2>УСПЕШНО ОПЛАЧЕНО!</h2>

    <br><br>
{% endblock %}