{% extends 'UserBundle::simple.layout.html.twig' %}

{% block title %}Оплатите услугу{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Оплата услуги {{ service.getSafeId() }}</h1>
    </div>

    <div id="liqpay_checkout"></div>
    <script>
        window.LiqPayCheckoutCallback = function() {
            LiqPayCheckout.init({
                data: "{{ data }}",
                signature: "{{ sign }}",
                embedTo: "#liqpay_checkout",
                mode: "embed" // embed || popup
            }).on("liqpay.callback", function(data){
                if (data.result == 'success') {
                    setTimeout(function() {
                        document.location = '{{ resultUrl }}';
                    }, 3000);
                }
            }).on("liqpay.ready", function(data){

            }).on("liqpay.close", function(data){

            });
        };
    </script>
    <script src="//static.liqpay.com/libjs/checkout.js" async></script>

    <br><br>
{% endblock %}