{% extends 'UserBundle::simple.layout.html.twig' %}

{% block title %}Успешная оплата кейс{% endblock %}

{% block content %}

    <div class="page-header">
        <h1>Оплата кейса {{ activeCase.getSafeId() }} <small>тариф {{ activeCase.getTariff() }}</small></h1>
    </div>

    <h2>УСПЕШНО ОПЛАЧЕНО!</h2>

    <br><br>
{% endblock %}