<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}</title>
    {% stylesheets
        'assets/build/style.css' filter='cssrewrite'
      %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
    {% block stylesheets %}{% endblock %}
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
  </head>
  <body class="assistant">
    {% include "AssistantBundle:Blocks:navbar.html.twig" %}
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
    {% javascripts
    'assets/build/main.js'
      %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
    {% block javascripts %}{% endblock %}
    <script>
      {% for flash_message in app.session.flashBag.get('notice') %}
        toastr.success({{ flash_message|json_encode|raw }});
      {% endfor %}
      {% for flash_message in app.session.flashBag.get('alert') %}
        toastr.error({{ flash_message|json_encode|raw }});
      {% endfor %}
    </script>
  </body>
</html>
